<div class="main">
<div class="row">
	<div class="col-md-12">
		<div class="box box-default">
					<div class="box-body">
						<!--div class="row">
							<div class="col-md-3">
						<a class="btn btn-default btn-block btn-lg" ng-click="openCreateProjectModal()">
						<i width="32px" height="32px" class="fa fa-plus" aria-hidden="true"></i>
			           			New Project
	               		</a>
	               		</div>
						</div-->
							<div class="row" ng-show="showLoader == true">
								<i class="fa fa-cog fa-spin center"></i>
							</div>

							<div class="row" ng-show="showLoader == false">

								<div class="col-md-2">
									<a ng-click="openCreateProjectModal()">
		            		<div class="tiny-box new" id="tinyBox:new" >
											<div class="absolute-center">
												<div>
			                		<span class="tiny-box-icon">
														<i width="32px" height="32px" class="fa fa-plus" aria-hidden="true"></i>
													</span>
			               			<div class="tiny-box-name">
														<span>New Project</span>
													</div>
												</div>
			               	</div>
										</div>
	               	</a>
								</div>

					 	 		<div class="col-md-2" ng-repeat="project in topRow">
	              	<!--a href="./#/projects/{{ project.name }}" title="Open Project"-->
		            		<div class="tiny-box" id="tinyBox:{{project.name}}">
	                		<span class="tiny-box-icon">
												<img width="32px" height="32px" ng-src="images/vorto-icon.png"/>
											</span>
	               			<div class="tiny-box-name">
												<span>{{project.name}}</span>
											</div>
	               			<div class="tiny-box-action pull-right">
													<button class="btn btn-link btn-open" ng-click="openProject(project.name)" uib-tooltip="Open Project"><i class="fa fa-edit"></i></button>
													<button class="btn btn-link btn-delete" data-toggle="modal" ng-click="openDeleteProjectModal(project.name)"><i class="fa fa-trash-o" uib-tooltip="Delete Project"></i></button>
											</div>
		               	</div>
	               	<!--/a-->
	        			</div>

					 	 	</div>

					 		<div class="row" ng-repeat="row in projectsMatrix">
					 	 		<div class="col-md-2" ng-repeat="project in row">
	              	
		            		<div class="tiny-box" id="tinyBox:{{project.name}}">
	                		<span class="tiny-box-icon">
												<img width="32px" height="32px" ng-src="images/vorto-icon.png"/>
											</span>
	               			<div class="tiny-box-name">
												<span>{{project.name}}</span>
											</div>
	               		<div class="tiny-box-action pull-right">
													<button class="btn btn-link btn-open" ng-click="openProject(project.name)"  uib-tooltip="Open Project"><i class="fa fa-edit"></i></button>
													<button class="btn btn-link btn-delete" data-toggle="modal" ng-click="openDeleteProjectModal(project.name)"><i class="fa fa-trash-o" uib-tooltip="Delete Project"></i></button>
											</div>
		               	</div>
	             
	        			</div>
	        						
					 	 	</div>
				</div>
		</div>
	</div>
</div>
</div>