<div class="row">
	<div class="center">
	    <div class="col-sm-12 main">
	          <div class="row">
				<div ng-if="error" class="alert alert-danger">{{error}}</div>
				<h4 class="box-headline" id="header1">Share Models</h4>
				<p class="box-subheader">Upload model(s) (*.datatype, *.fbmodel, *.infomodel, *.mapping, *.zip) and click <b>'Checkin'</b> to share. </p>
				<form name="fileUploadForm" class="fileUploadForm">
					<div class="col-md-6">
							<input type="file" ng-model="modelFile" name="file" id="file" accept=".type,.fbmodel,.infomodel,.mapping,.zip" class="form-control">
						</div>
						<div class="col-md-6">
							<button ng-click="uploadModel()" class="btn btn-primary">Upload</button>
							<button ng-show="showCheckin"  ng-click="checkin(uploadResult.obj)" class="btn btn-primary">Checkin</button>
						</div>
					</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
  <div class="center">
		<h3 ng-show="isLoading">{{loadMessage}}</h3>
		<div ng-show="showResultBox" ng-class="showCheckin === true ? 'alert alert-success' : 'alert alert-danger'">
	  		{{resultMessage}}
		</div>
	
		<div ng-repeat="result in uploadResult.obj">
			<div class="accordion-div">
	
	        <div ng-click="stateArr[$index].active = !stateArr[$index].active" ng-class="{'modelresult-heading-collapsed': stateArr[$index].active, 'modelresult-heading-expanded': !stateArr[$index].active}">
	          <div class="header">
	          	Name: {{result.modelResource.id.name}}
	          	<i ng-class="result.valid === true ? 'fa fa-check fa-lg valid' : 'fa fa-close fa-lg invalid'" aria-hidden="true"></i>
	          </div>
	        </div>
	
	        <div class="slideExpand" ng-hide="stateArr[$index].active">
	          <div class="modelresults-content">
			<div class="fileUploadDetails">
			<table>
						<tr><td><label>Namespace:</label></td><td>{{result.modelResource.id.namespace}}</td></tr>
				        <tr><td><label>Name:</label></td><td>  {{result.modelResource.id.name}} </td></tr>
				        <tr><td><label>Version:</label></td><td>   {{result.modelResource.id.version}} </td></tr>
				        <tr><td><label>Model Type:</label> </td><td> {{result.modelResource.modelType}}</td></tr>
				        <tr><td><label>Description:</label> </td><td>  {{result.modelResource.description}}</td></tr>
				        <tr><td><label>References: </label></td><td><table><tr ng-repeat="reference in result.modelResource.references"><td>{{reference.namespace}}.{{reference.name}}.{{reference.version}}</td></tr></table></td></tr>
				        <tr ng-show="result.valid === false"><td colspan="2">
								<label class="error"><i class="fa fa-fw fa-close"></i> Error - {{result.errorMessage}}</label> </td></tr>
		</table>
		</div>
	          </div>
	        </div>
	      </div>
		</div>
	</div>
</div>
