<?xml version="1.0" encoding="UTF-8"?>
	<plugin>
	   <extension
	         id="org.eclipse.vorto.codegen.protobuf.ProtobufGenerator"
	         name="org.eclipse.vorto.codegen.protobuf.ProtobufGenerator"
	         point="org.eclipse.vorto.codegen.org_eclipse_vorto_codegen_Generators">
	      <client
	            class="org.eclipse.vorto.codegen.protobuf.ProtobufGenerator"
	            menuLabel="Protobuf Generator">
	      </client>
	   </extension>
	
	</plugin>
