---
layout: default
---
{% include base.html %}

<div class="container content">
	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h2>
				Downloads
			</h2>
		</div>
		</div>
	</div>

    {% for download in site.pages   %}
  	  {% if download.section == 'downloadsA' %}
  			
  		<!--	<div class="box box-dl">
  			<div class="col-md-1"><i class="{{download.imagename}}"></i></div>
  					<div href="#" class="col-md-11">
  						<h3>
  							<b>{{download.title}}</b>
  						</h3>
  						{{download.content}}
  					</div>
  				
  			</div>
  			<hr class="separator">-->


<div class="box">
<div class="row">
  
<div class="col-md-5">
<table class="pricing">
<tfoot>
<tr>
<td></td>
</tr>
</tfoot>
<tbody>
<tr>
<td class="focus">
Vorto Toolset
<span>Download Vorto through these sources</span>
</td>
</tr>
<tr>
<td style="text-align: center; white-space: nowrap;">

<a href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=2599731" class="drag" title="Drag to your running Eclipse workspace to install Vorto Toolset"><img src="{{ base }}/img/installImg.png" alt="Drag to your running Eclipse workspace to install Vorto Toolset" /></a><br>
<p id="tbltext">Drag to your running Eclipse workspace to install Vorto Toolset</p>
</td>

</tr>
<tr>
<td style="text-align: center; white-space: nowrap;">
<a class="has-popover btn btn-primary btn-large" style="width: auto;" href="http://download.eclipse.org/vorto/update/releases/0.9.0" data-toggle="tooltip" class="tip-right" title="Install Vorto using the Standard Eclipse Update mechanism:Choose Help -> Install New Software... from the menu bar and Add...
Insert the update site URL [Vorto Update Site] Select the components of your choice and complete the wizard by clicking the Next button untilyou can click Finish. After a quick download and a restart of Eclipse,
Vorto is ready to be used."><i class="fa fa-download fa-2x"></i> <br> <b>Vorto Update Site (Release 0.9.x)</b></a>
<a class="has-popover btn btn-primary btn-large" style="width: auto;" href="http://download.eclipse.org/vorto/update/releases/0.9.0/org.eclipse.vorto.update-site.zip" data-toggle="tooltip" class="tip-right" title="Download offline archive from [Vorto zip]. The user then adds this zip file from Help -> Install New Software -> Add -> Archive."><i class="fa fa-file-archive-o fa-2x"></i> <br> <b> Vorto zip (Release 0.9.x)</b></a>
</td>
</tr>
<tr>
<td style="text-align: center; white-space: nowrap;">
<a class="has-popover btn btn-primary btn-large" style="width: auto;" href="http://download.eclipse.org/vorto/update/milestones" data-toggle="tooltip" class="tip-right" title="Install Vorto using the Standard Eclipse Update mechanism:Choose Help -> Install New Software... from the menu bar and Add...
Insert the update site URL [Vorto Update Site] Select the components of your choice and complete the wizard by clicking the Next button untilyou can click Finish. After a quick download and a restart of Eclipse,
Vorto is ready to be used."><i class="fa fa-download fa-2x"></i> <br> <b>Vorto Update Site (Milestone)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></a>
<a class="has-popover btn btn-primary btn-large" style="width: auto;" href="http://download.eclipse.org/vorto/update/milestones/org.eclipse.vorto.update-site.zip" data-toggle="tooltip" class="tip-right" title="Download offline archive from [Vorto zip]. The user then adds this zip file from Help -> Install New Software -> Add -> Archive."><i class="fa fa-file-archive-o fa-2x"></i> <br> <b> Vorto zip (Milestone) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></a>
</td>
</tr>

<tr>
<td style="text-align: center; white-space: nowrap;">
  <a class="has-popover btn btn-primary btn-large" style="width: auto;" href="http://download.eclipse.org/vorto/update/nightly-snapshots/" data-toggle="tooltip" class="tip-right" title="Install Vorto Nightly Snapshots from the URL [Vorto Update Site] using the Standard Eclipse Update mechanism."><i class="fa fa-download fa-2x"></i> <br> <b> Vorto Update Site (Nightly build)</b></a>
  <a class="has-popover btn btn-primary btn-large" style="width: auto;" href="http://download.eclipse.org/vorto/update/nightly-snapshots/org.eclipse.vorto.update-0.10.0-SNAPSHOT.zip" data-toggle="tooltip" class="tip-right" title="Download offline archive from [Vorto zip]. The user then adds this zip file from Help -> Install New Software -> Add -> Archive."><i class="fa fa-file-archive-o fa-2x"></i> <br> <b> Vorto zip (Nightly build)</b></a>
</td>
</tr>

<tr>
<td style="text-align: center; white-space: nowrap;">
  <a class="has-popover btn btn-primary btn-large" style="width: auto;" href="{{base}}/documentation/overview/introduction.html#system-requirements" target="_blank" data-toggle="tooltip" class="tip-right" title="System Requirements"><i class="fa fa-check-square-o fa-2x"></i> <br> <b>Prerequisites</b></a>
</td>
</tr>

<tr>
<tr>
</tbody>
</table>
</div>
<div class="col-md-1"></div>
<div class="col-md-4">
<table class="pricing">
<tfoot>
<tr>
<td></td>
</tr>
</tfoot>
<tbody>
<tr>
<td class="focus">
Command Line Interface
<span>Download CLI that matches your OS</span>
</td>
</tr>
<tr>
<td style="text-align: center;">
<a class="has-popover btn btn-primary btn-large" style="width: 70%;" href="{{base}}/downloads/cli-tool/win/vorto.exe" data-toggle="tooltip" class="tip-right" title="Vorto Command Line Interface for Windows"><i class="fa fa-windows fa-2x"></i> <br><b>Vorto CLI (Windows)</b></a>
</td>
</tr>
<tr>
<td style="text-align: center;">
<a class="has-popover btn btn-primary btn-large" style="width: 70%;" href="{{base}}/downloads/cli-tool/mac/vorto" data-toggle="tooltip" class="tip-right" title="Vorto Command Line Interface for Mac"><i class="fa fa-apple fa-2x"></i><br><b>Vorto CLI (Mac)</b></a>
</td>
</tr>
<tr>
<td style="text-align: center;">
<a class="has-popover btn btn-primary btn-large" style="width: 70%;" href="{{base}}/downloads/cli-tool/linux/vorto"  data-toggle="tooltip" class="tip-right" title="Vorto Command Line Interface for Linux"><i class="fa fa-linux fa-2x"></i><br><b>Vorto CLI (Linux)</b></a>
</td>
</tr>
<tr>
<td style="text-align: center;">
<a href="{{base}}/documentation/vorto-repository/cli-tool/cli-tool.html"> Find more information on how to use the CLI tool</a>
</td>
</tr>
<tr>
<tr>
</tbody>
</table>
</div>

</div>

<hr>
<div class="container clearfix">
<h1>Source code</h1>
<p>The source code for Eclipse Vorto is available on <a href="http://github.com/eclipse/vorto" target="_blank"><b>Github</b></a></p>
</div>
</div>
{% endif %}
{% endfor %}
</div>
