target/
src-gen/
xtend-gen/
bin/
.antlr*
.metadata/
*/plugin.xml_gen
.DS_Store

/.ssh
*.checkstyle
.settings/
.classpath
.project
generated-sources
*.orig

devtool-project-repository/
website/themes
website/public
*.rej
