target/
src-gen/
xtend-gen/
bin/
.antlr*
.metadata/
*/plugin.xml_gen
.DS_Store

/.ssh
*.checkstyle
.settings/
.classpath
.project
generated-sources
*.orig
*.rej

devtool-project-repository/
website/themes
website/public

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
classes/
