sudo: required
dist: trusty

language: java

services:
  - docker

jdk: oraclejdk8

addons:
  sonarcloud:
    organization: "vorto"
    token:
      secure: $SONAR_TOKEN
    branches:
      - jacoco

before_install: 
  - echo "MAVEN_OPTS='-Xms1g -Xmx2g'" > ~/.mavenrc

install: 
  - git clone https://github.com/digitalcraftsman/hugo-material-docs.git website/themes/hugo-material-docs
  - wget https://github.com/gohugoio/hugo/releases/download/v0.52/hugo_0.52_Linux-64bit.deb -O /tmp/hugo.deb && sudo dpkg -i /tmp/hugo.deb
  - npm install -g --save remark-cli remark-preset-lint-recommended remark-validate-links remark-lint-no-dead-urls remark-message-control remark-preset-lint-markdown-style-guide remark-lint
script:
  - hugo -s website/
  - remark -i .remark_ignore -f -u validate-links .
  - remark -i .remark_ignore -u lint-no-dead-urls .
  - mvn clean org.jacoco:jacoco-maven-plugin:report-aggregate install sonar:sonar -q -P checkstyle

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker build -f repository/repository-server/Dockerfile -t eclipsevorto/vorto-repo:latest .repository/repository-server;
    docker build -f generators/generator-runner/Dockerfile -t eclipsevorto/vorto-generators:latest ./generators/generator-runner;
    docker push eclipsevorto/vorto-repo;
    docker push eclipsevorto/vorto-generators;
    fi
