<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
			point="org.eclipse.ui.menus">
	  <menuContribution
				locationURI="popup:org.eclipse.vorto.project.menu">	
				<command
			  		commandId="org.eclipse.vorto.datatypeeditor.ui.command1.newdatatypeproject"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
			        label="Create new Entity">
			       <parameter
			             name="org.eclipse.vorto.editor.datatype.newdatatype.project"
			             value="entity">
			       </parameter>           	            
			  	</command>
			    <command
			          commandId="org.eclipse.vorto.datatypeeditor.ui.command1.newdatatypeproject"
			          icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
			          label="Create new Enum">
			       <parameter
			             name="org.eclipse.vorto.editor.datatype.newdatatype.project"
			             value="enum">
			       </parameter>
			    </command>
				<command
			  		commandId="org.eclipse.vorto.editor.functionblock.ui.command1.newfbproject"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
			        label="Create new Function Block Model">           	            
			  	</command>	
				<command
			  		commandId="org.eclipse.vorto.infomodeleditor.ui.command1.newimproject"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
			        label="Create new Information Model">           	            
			  	</command>			
				<command
			  		commandId="org.eclipse.vorto.wizard.mapping.commoand.NewMappingModelHandler"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
			        label="Create new Mapping Model"> 
	               <visibleWhen
	                     checkEnabled="true">
	                  <with
	                        variable="selection">
	                     <iterate
	                           ifEmpty="false"
	                           operator="and">
	                        <instanceof
	                              value="org.eclipse.core.resources.IProject">
	                        </instanceof>
	                     </iterate>
	                  </with>
	               </visibleWhen>			                  	            
			  	</command>	   			  	  	   			    	   
			  	<separator name="additions1" visible="true"/>
	  	</menuContribution> 	
		
	</extension>
	
	<extension 
			point="org.eclipse.ui.commands">
	    <command
	          defaultHandler="org.eclipse.vorto.wizard.datatype.NewDatatypeProjectHandler"
	          id="org.eclipse.vorto.datatypeeditor.ui.command1.newdatatypeproject"
	          name="NewDataTypeProjectCommand">
	       <commandParameter
	             id="org.eclipse.vorto.editor.datatype.newdatatype.project"
	             name="NewDataTypeProject"
	             optional="true">
	       </commandParameter>
	    </command>
  </extension>
       
  <!-- Wizards -->
  
     <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Vorto"
            id="org.eclipse.vorto.functionblock.ui.wizards">
      </category>
      <wizard
            category="org.eclipse.vorto.functionblock.ui.wizards"
            class="org.eclipse.vorto.wizard.functionblock.FunctionBlockWizard"
            finalPerspective="org.eclipse.vorto.ui.perspective.VortoPerspective"
            icon="platform:/plugin/org.eclipse.vorto.core/icons/fb.png"
            id="org.eclipse.vorto.fbeditor.ui.wizards.InfomodelWizard"
            name="Function Block Model"
            project="true">
      </wizard>
   </extension>	   
	 <extension
	       point="org.eclipse.ui.menus">
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
	       <menu
	       		 id="org.eclipse.vorto.project.menu"
	             label="Vorto">
	       </menu>
	    </menuContribution>
	 </extension>
	 	
	<extension 
			point="org.eclipse.ui.commands">
	    <command defaultHandler="org.eclipse.vorto.wizard.functionblock.NewFunctionBlockProjectHandler"
	      	id="org.eclipse.vorto.editor.functionblock.ui.command1.newfbproject" name="NewFunctionBlockProjectCommand">
	    </command>		    			
	</extension>
	
	<!-- Infomodel -->	
	   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Vorto"
            id="org.eclipse.vorto.functionblock.ui.wizards">
      </category>
      <wizard
            category="org.eclipse.vorto.functionblock.ui.wizards"
            class="org.eclipse.vorto.wizard.infomodel.InfomodelWizard"
            finalPerspective="org.eclipse.vorto.ui.perspective.VortoPerspective"
            icon="platform:/plugin/org.eclipse.vorto.core/icons/im.png"
            id="org.eclipse.vorto.fbeditor.ui.wizards.InfomodelWizard"
            name="Information Model"
            project="true">
      </wizard>
   </extension>	   
   <extension
	       point="org.eclipse.ui.menus">
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
	       <menu
	       		 id="org.eclipse.vorto.project.menu"
	             label="Vorto">
	       </menu>
	    </menuContribution>
	 </extension>

	 <extension point="org.eclipse.ui.newWizards">
      <category
            name="Vorto"
            id="org.eclipse.vorto.functionblock.ui.wizards">
      </category>
      <wizard
            category="org.eclipse.vorto.functionblock.ui.wizards"
            class="org.eclipse.vorto.wizard.datatype.EntityWizard"
            finalPerspective="org.eclipse.vorto.ui.perspective.VortoPerspective"
            icon="platform:/plugin/org.eclipse.vorto.core/icons/dt.png"
            id="org.eclipse.vorto.editor.ui.internal.wizard.EntityWizard"
            name="Entity"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.vorto.functionblock.ui.wizards"
            class="org.eclipse.vorto.wizard.datatype.EnumWizard"
            finalPerspective="org.eclipse.vorto.ui.perspective.VortoPerspective"
            icon="platform:/plugin/org.eclipse.vorto.core/icons/dt.png"
            id="org.eclipse.vorto.editor.ui.internal.wizard.EnumWizard"
            name="Enum"
            project="true">
      </wizard>
   </extension>	
	
	<extension 
			point="org.eclipse.ui.commands">
	    <command defaultHandler="org.eclipse.vorto.wizard.infomodel.NewInfomodelHandler"
	      	id="org.eclipse.vorto.infomodeleditor.ui.command1.newimproject" name="NewInfomodelCommand">
	    </command>	
	    <command defaultHandler="org.eclipse.vorto.wizard.mapping.NewMappingModelHandler"
	      	id="org.eclipse.vorto.wizard.mapping.commoand.NewMappingModelHandler" name="NewMappingModelCommand">
	    </command>		    		    
	</extension>

</plugin>
