<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
  <!-- Wizards -->
  
     <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Vorto"
            id="org.eclipse.vorto.model.ui.wizards">
      </category>
      <wizard
            category="org.eclipse.vorto.model.ui.wizards"
            class="org.eclipse.vorto.wizard.vorto.VortoProjectWizard"
            finalPerspective="org.eclipse.vorto.ui.perspective.VortoPerspective"
            icon="platform:/plugin/org.eclipse.vorto.core.ui/icons/vorto-icon.png"
            id="org.eclipse.vorto.ui.wizards.VortoModelWizard"
            name="Vorto Model Project"
            project="true">
      </wizard>
   </extension>	   
</plugin>
