<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="XtextModelParser"
         name="Xtext Model Parser"
         point="org.eclipse.vorto.core.org_eclipse_vorto_core_ModelParser">
         <client
            class="org.eclipse.vorto.editor.XtextResourceModelParser">
      </client>
   </extension>
</plugin>
