<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.vorto.iotnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.vorto.core.model.nature.IoTProjectNature">
         </run>
      </runtime>
   </extension>
    <extension
         id="org.eclipse.vorto.informationmodelnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.vorto.core.model.nature.InformationModelProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.eclipse.vorto.datatypenature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.vorto.core.model.nature.FbDatatypeProjectNature">
         </run>
      </runtime>
   </extension>
   
   
   <!-- Default menu contributions -->
   
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.eclipse.vorto.core.model.nature.ProjectNaturePropertyTester"
           id="ProjectNaturePropertyTester"
           namespace="org.eclipse.vorto.editor.ui.propertytester"
           properties="checkProjectNature"
           type="org.eclipse.core.resources.IResource">
     </propertyTester>
  </extension> 
   	<extension 
			point="org.eclipse.ui.commands">	
	    <command defaultHandler="org.eclipse.vorto.core.ui.handler.infomodel.DeleteInfomodelHandler"
	      	id="org.eclipse.vorto.infomodeleditor.ui.command1.deleteinfomodelproject" name="DeleteInformationModelProjectCommand">
	    </command>
	    <command defaultHandler="org.eclipse.vorto.core.ui.handler.datatype.DeleteDataTypeProjectHandler"
	      	id="org.eclipse.vorto.datatypeeditor.ui.command1.deletedatatypeproject" name="DeleteDataTypeProjectCommand">
	    </command>
	     <command defaultHandler="org.eclipse.vorto.core.ui.handler.functionblock.DeleteFunctionBlockHandler"
	      	id="org.eclipse.vorto.editor.functionblock.ui.command.deletefbproject" name="DeleteFunctionBlockProjectCommand">
	    </command>    
	</extension>
    <extension
          id="id1"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="org.eclipse.vorto.core.model.nature.VortoProjectNature">
          </run>
       </runtime>
    </extension>

</plugin>
