<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org_eclipse_vorto_modelchange_Observers" name="Model Change Observer" schema="schema/org_eclipse_vorto_modelchange_Observers.exsd"/>
   <extension-point id="org_eclipse_vorto_core_ModelParser" name="Model Parser" schema="schema/org_eclipse_vorto_core_ModelParser.exsd"/>
   <extension-point id="org.eclipse.vorto.core.IModelRepository" name="Extension point for the model repository" schema="schema/org.eclipse.vorto.core.IModelRepository.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated InformationModel -->
      <package
            uri="http://www.eclipse.org/vorto/metamodel/InformationModel"
            class="org.eclipse.vorto.core.api.model.informationmodel.InformationModelPackage"
            genModel="model/InformationModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Datatype -->
      <package
            uri="http://www.eclipse.org/vorto/metamodel/Datatype"
            class="org.eclipse.vorto.core.api.model.datatype.DatatypePackage"
            genModel="model/Datatype.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Functionblock -->
      <package
            uri="http://www.eclipse.org/vorto/metamodel/Functionblock"
            class="org.eclipse.vorto.core.api.model.functionblock.FunctionblockPackage"
            genModel="model/Functionblock.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Model -->
      <package
            uri="http://www.eclipse.org/vorto/metamodel/Model"
            class="org.eclipse.vorto.core.api.model.model.ModelPackage"
            genModel="model/Model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Mapping -->
      <package
            uri="http://www.eclipse.org/vorto/metamodel/Mapping"
            class="org.eclipse.vorto.core.api.model.mapping.MappingPackage"
            genModel="model/Mapping.genmodel"/>
   </extension>

</plugin>
