<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="target-definitions" sequenceNumber="34">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.easymock" version="2.4.0.v20090202-0900"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.3.3.v201411290715"/>
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.3.6.v201411290715"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand" version="0.0.0"/>
<unit id="org.eclipse.xtend" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/mars/201506241002/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.8.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.9.0/"/>
</location>
</locations>
<includeBundles>
<feature id="org.eclipse.cvs"/>
<feature id="org.eclipse.cvs.source"/>
<feature id="org.eclipse.draw2d"/>
<feature id="org.eclipse.e4.rcp"/>
<feature id="org.eclipse.e4.rcp.source"/>
<feature id="org.eclipse.ecf.core.feature"/>
<feature id="org.eclipse.ecf.core.source.feature"/>
<feature id="org.eclipse.ecf.core.ssl.feature"/>
<feature id="org.eclipse.ecf.core.ssl.source.feature"/>
<feature id="org.eclipse.ecf.filetransfer.feature"/>
<feature id="org.eclipse.ecf.filetransfer.httpclient4.feature"/>
<feature id="org.eclipse.ecf.filetransfer.httpclient4.source.feature"/>
<feature id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature"/>
<feature id="org.eclipse.ecf.filetransfer.httpclient4.ssl.source.feature"/>
<feature id="org.eclipse.ecf.filetransfer.source.feature"/>
<feature id="org.eclipse.ecf.filetransfer.ssl.feature"/>
<feature id="org.eclipse.ecf.filetransfer.ssl.source.feature"/>
<feature id="org.eclipse.egit"/>
<feature id="org.eclipse.emf"/>
<feature id="org.eclipse.emf.codegen"/>
<feature id="org.eclipse.emf.codegen.ecore"/>
<feature id="org.eclipse.emf.codegen.ecore.source"/>
<feature id="org.eclipse.emf.codegen.ecore.ui"/>
<feature id="org.eclipse.emf.codegen.ecore.ui.source"/>
<feature id="org.eclipse.emf.codegen.source"/>
<feature id="org.eclipse.emf.codegen.ui"/>
<feature id="org.eclipse.emf.codegen.ui.source"/>
<feature id="org.eclipse.emf.common"/>
<feature id="org.eclipse.emf.common.source"/>
<feature id="org.eclipse.emf.common.ui"/>
<feature id="org.eclipse.emf.common.ui.source"/>
<feature id="org.eclipse.emf.converter"/>
<feature id="org.eclipse.emf.converter.source"/>
<feature id="org.eclipse.emf.databinding"/>
<feature id="org.eclipse.emf.databinding.edit"/>
<feature id="org.eclipse.emf.databinding.edit.source"/>
<feature id="org.eclipse.emf.databinding.source"/>
<feature id="org.eclipse.emf.doc"/>
<feature id="org.eclipse.emf.doc.source"/>
<feature id="org.eclipse.emf.ecore"/>
<feature id="org.eclipse.emf.ecore.edit"/>
<feature id="org.eclipse.emf.ecore.edit.source"/>
<feature id="org.eclipse.emf.ecore.editor"/>
<feature id="org.eclipse.emf.ecore.editor.source"/>
<feature id="org.eclipse.emf.ecore.source"/>
<feature id="org.eclipse.emf.ecore.xcore"/>
<feature id="org.eclipse.emf.ecore.xcore.lib"/>
<feature id="org.eclipse.emf.ecore.xcore.lib.source"/>
<feature id="org.eclipse.emf.ecore.xcore.sdk"/>
<feature id="org.eclipse.emf.ecore.xcore.source"/>
<feature id="org.eclipse.emf.ecore.xcore.ui"/>
<feature id="org.eclipse.emf.ecore.xcore.ui.source"/>
<feature id="org.eclipse.emf.edit"/>
<feature id="org.eclipse.emf.edit.source"/>
<feature id="org.eclipse.emf.edit.ui"/>
<feature id="org.eclipse.emf.edit.ui.source"/>
<feature id="org.eclipse.emf.mapping"/>
<feature id="org.eclipse.emf.mapping.ecore"/>
<feature id="org.eclipse.emf.mapping.ecore.editor"/>
<feature id="org.eclipse.emf.mapping.ecore.editor.source"/>
<feature id="org.eclipse.emf.mapping.ecore.source"/>
<feature id="org.eclipse.emf.mapping.source"/>
<feature id="org.eclipse.emf.mapping.ui"/>
<feature id="org.eclipse.emf.mapping.ui.source"/>
<feature id="org.eclipse.emf.mwe2.language.sdk"/>
<feature id="org.eclipse.emf.mwe2.language.sdk.source"/>
<feature id="org.eclipse.emf.mwe2.launcher"/>
<feature id="org.eclipse.emf.mwe2.runtime.sdk"/>
<feature id="org.eclipse.emf.mwe2.runtime.sdk.source"/>
<feature id="org.eclipse.emf.sdk"/>
<feature id="org.eclipse.emf.source"/>
<feature id="org.eclipse.epp.logging.aeri.feature"/>
<feature id="org.eclipse.epp.mpc"/>
<feature id="org.eclipse.epp.package.common.feature"/>
<feature id="org.eclipse.epp.package.dsl.feature"/>
<feature id="org.eclipse.equinox.p2.core.feature"/>
<feature id="org.eclipse.equinox.p2.core.feature.source"/>
<feature id="org.eclipse.equinox.p2.discovery.feature"/>
<feature id="org.eclipse.equinox.p2.extras.feature"/>
<feature id="org.eclipse.equinox.p2.extras.feature.source"/>
<feature id="org.eclipse.equinox.p2.rcp.feature"/>
<feature id="org.eclipse.equinox.p2.rcp.feature.source"/>
<feature id="org.eclipse.equinox.p2.user.ui"/>
<feature id="org.eclipse.equinox.p2.user.ui.source"/>
<feature id="org.eclipse.help"/>
<feature id="org.eclipse.help.source"/>
<feature id="org.eclipse.jdt"/>
<feature id="org.eclipse.jdt.source"/>
<feature id="org.eclipse.jgit"/>
<feature id="org.eclipse.m2e.feature"/>
<feature id="org.eclipse.oomph.p2"/>
<feature id="org.eclipse.oomph.setup"/>
<feature id="org.eclipse.oomph.setup.core"/>
<feature id="org.eclipse.pde"/>
<feature id="org.eclipse.pde.source"/>
<feature id="org.eclipse.platform"/>
<feature id="org.eclipse.platform.source"/>
<feature id="org.eclipse.rcp"/>
<feature id="org.eclipse.rcp.source"/>
<feature id="org.eclipse.sdk"/>
<feature id="org.eclipse.wst.common_core.feature"/>
<feature id="org.eclipse.wst.common_ui.feature"/>
<feature id="org.eclipse.wst.xml_core.feature"/>
<feature id="org.eclipse.wst.xml_ui.feature"/>
<feature id="org.eclipse.wst.xml_userdoc.feature"/>
<feature id="org.eclipse.xtend.sdk"/>
<feature id="org.eclipse.xtext.docs"/>
<feature id="org.eclipse.xtext.examples"/>
<feature id="org.eclipse.xtext.examples.source"/>
<feature id="org.eclipse.xtext.runtime"/>
<feature id="org.eclipse.xtext.runtime.source"/>
<feature id="org.eclipse.xtext.sdk"/>
<feature id="org.eclipse.xtext.ui"/>
<feature id="org.eclipse.xtext.ui.source"/>
<feature id="org.eclipse.xtext.xbase"/>
<feature id="org.eclipse.xtext.xbase.lib"/>
<feature id="org.eclipse.xtext.xbase.lib.source"/>
<feature id="org.eclipse.xtext.xbase.source"/>
<feature id="org.eclipse.xtext.xtext.ui"/>
<feature id="org.eclipse.xtext.xtext.ui.source"/>
<plugin id="com.google.gson"/>
<plugin id="com.google.guava"/>
<plugin id="com.google.guava.source"/>
<plugin id="com.google.inject"/>
<plugin id="com.google.inject.source"/>
<plugin id="org.apache.commons.cli"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.easymock"/>
<plugin id="org.eclipse.emf.mwe.core"/>
<plugin id="org.eclipse.emf.mwe.utils"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.gef"/>
<plugin id="org.eclipse.mylyn.commons.core"/>
<plugin id="org.eclipse.mylyn.commons.notifications.core"/>
<plugin id="org.eclipse.mylyn.commons.notifications.ui"/>
<plugin id="org.eclipse.mylyn.commons.screenshots"/>
<plugin id="org.eclipse.mylyn.commons.ui"/>
<plugin id="org.eclipse.mylyn.commons.workbench"/>
<plugin id="org.eclipse.nebula.widgets.tablecombo"/>
<plugin id="org.eclipse.oomph.base"/>
<plugin id="org.eclipse.oomph.base.edit"/>
<plugin id="org.eclipse.oomph.predicates"/>
<plugin id="org.eclipse.oomph.predicates.edit"/>
<plugin id="org.eclipse.oomph.resources"/>
<plugin id="org.eclipse.oomph.resources.edit"/>
<plugin id="org.eclipse.oomph.ui"/>
<plugin id="org.eclipse.oomph.util"/>
<plugin id="org.eclipse.oomph.workingsets"/>
<plugin id="org.eclipse.oomph.workingsets.edit"/>
<plugin id="org.eclipse.oomph.workingsets.editor"/>
<plugin id="org.eclipse.wst.common.project.facet.core"/>
<plugin id="org.eclipse.wst.server.core"/>
<plugin id="org.eclipse.wst.server.discovery"/>
<plugin id="org.eclipse.xpand"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.eclipse.xsd.edit"/>
<plugin id="org.eclipse.xtend"/>
<plugin id="org.eclipse.xtend.typesystem.emf"/>
</includeBundles>
</target>
