<!-- Main content -->
<section class="content" id="mapping">
   <ol class="breadcrumb">
      <li><a href="#"></i>Explore</a></li>
      <li><a href="./#/details/{{modelId}}"></i>{{modelId}}</a></li>
      <li class="active">Payload Mapping Specification</li>
  </ol>
  <div class="row">
  <div class="col-md-12">
            <div class="box">
             <div class="row">
		           <div class="col-md-2 text-center">
		              <dt>State: <span class="state state-{{state}}">{{ state }}</span></dt>
		           </div>
		           <div class="col-md-2 text-center">
				      <dt>Key: <span>{{ targetPlatform }}</span></dt>
		           </div>
		           <div class="col-md-2 text-center">
				      <dt>DSL: <span><a href="./#/details/{{mappingId}}"></i>Mapping</a></span></dt>
		           </div>
	               <div class="col-md-6">
	             	 <a href="./rest/{{tenant}}/mappings/{{modelId}}/{{targetPlatform}}/file" ng-disabled="isLoading" class="btn btn-sm  btn-primary pull-right"><span class="fa fa-download" aria-hidden="true"></span>&nbsp;Download Spec</a>
					 <button ng-show="authenticated && userInfo.isRegistered === 'true'" type="submit" ng-disabled="isLoading || state !== 'Draft'" class="btn btn-sm btn-primary pull-right" ng-click="save()"><span class="fa fa-save" aria-hidden="true"></span>&nbsp;Save</button> 
	               </div>
                 </div>
            </div>
          </div>
  </div>
  <div class="row">
  		<div class="alert alert-success" ng-show="success">
			<p><i class="fa fa-check-circle-o fa-3x" aria-hidden="true"></i> Saved successfully.</p>
		</div>
		<div class="alert alert-warning alert-dismissable" ng-hide="testResponse.valid">
    		<h4><i class="fa fa-warning"></i> Invalid according to Vorto Model </h4>
        	{{testResponse.validationError}}!<br/><br/>
    	</div>
	    <div class="alert alert-success" ng-show="testResponse.valid && mappedOutput != null">
	      <p><i class="fa fa-check-circle-o fa-3x" aria-hidden="true"></i> Nice work! Your mapping is valid according to the Vorto model!</p>
	    </div>
	    <p>
	  	  Mapping Specifications let you map arbitrary device payload to Vorto Information Model compliant data.
	    </p>
		<div class="col-md-8">
				<div class="jumbotron text-center" ng-show="isLoading">
					<h3><i class='fa fa-refresh fa-spin'></i>&nbsp; Loading Mapping Specification...</h3>
				</div>
			<div ng-hide="isLoading" class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li ng-repeat="property in infomodel.functionblocks" style="bottom: 2px;"  ng-class="{active : $index === 0}"><a href="" data-target="#{{property.name}}_tab" data-toggle="tab">{{property.name}} Mapping</a></li>  
				</ul>
				<div class="tab-content">
					<!-- /.tab-pane -->
					<div ng-repeat="property in infomodel.functionblocks" class="tab-pane" ng-class="{active : $index === 0}" id="{{property.name}}_tab" >
						<div ng-include src="'partials/mapping/includes/fbmapping-template.html'"></div>
					</div>
				</div>
			<!-- /.tab-content -->
			</div>
		</div>
	<!-- /.nav-tabs -->
		<div class="col-md-4">
			<div class="row">
				Specify device test data (as JSON format) and hit 'Map':
				<div id="testEditor" ui-ace="{ onLoad : sourceEditorLoaded, onChange: aceChanged }" style="height: 200px;"></div>
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary" ng-hide="testInProgress" ng-click="executeTest()"><span class="fa fa-tachometer" aria-hidden="true"></span>&nbsp;Map</button>
			</div>
			<div class="row">
		  		<pretty-json ng-show="mappedOutput != null" json="mappedOutput" style="height: 200px;"></pretty-json>
		  		<pretty-json ng-show="mappedOutput == null" json="{}" style="height: 200px;"></pretty-json>	
			</div>
		</div>
	</div>
</section>