<div class="modal-header">
	<h3 class="modal-title"><center>New Vorto Model</center></h3>
</div>
<div class="modal-body">
	<div>
		<p>What kind of model do you want to create?</p>
	</div>
	<div ng-repeat="editorType in editorTypes">
		<p>
			<input type="radio" ng-model="$parent.selected" ng-value="editorType"/> {{editorType.display}}
		</p>
	</div>
</div>
<div class="modal-footer">
	<div class="align-left">
	    <button class="btn btn-primary" type="button" ng-click="ok()">Next</button>
	 </div>
	<div class="align-right">
	    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>