<div class="modal-header">
	<h3 class="modal-title">Please select the type of Editor</h3>
</div>
<div class="modal-body">
	<ul>
		<li ng-repeat="editorType in editorTypes">
			<input type="radio" name="response" data-ng-model="selected.editorType"  value="{{editorType}}"/> {{editorType}}
		</li>
	</ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
