<div class="modal-header">
	<h3 class="modal-title"><center>Create New Vorto Project</center></h3>
</div>
<div class="modal-body">
	<div>
		<p>
			<div class="describe-modal-label">
				Project Name 
			</div>
			<input type="text" autofocus size="37" data-ng-model="projectName" required/> 
		</p>
	</div>
</div>
<div class="modal-footer">
	<div class="align-left">
	    <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
	 </div>
	<div class="align-right">
	    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>