<div class="modal-header">
	<h3 class="modal-title"><center>Create New {{editorType.display}}</center></h3>
</div>
<div>
	<form name="describeEditorModalForm" novalidate>
		<div class="modal-body">
			<div>
				<p>Please enter the following details</p>
			</div>
			<div>
				<p>
					<div class="describe-modal-label">
						{{editorType.display}} Name 
					</div>
					<input type="text" size="37" data-ng-model="model.name" name="mName" required/> 
					<div ng-show="describeEditorModalForm.$submitted || describeEditorModalForm.mName.$touched">
				    	<div ng-show="describeEditorModalForm.mName.$error.required">Please enter a valid model name</div>
				    </div>
				</p>
				<p>
					<div class="describe-modal-label">
						{{editorType.display}} Version 
					</div>
					<input type="text" size="37" data-ng-model="model.version" name="mVersion" ng-pattern="/^\d\.\d\.\d+$/" required/> 
					<div ng-show="describeEditorModalForm.$submitted || describeEditorModalForm.mVersion.$touched" >
				    	<div ng-show="describeEditorModalForm.mVersion.$error.required">Please enter a version number</div>
				    	<div ng-show="describeEditorModalForm.mVersion.$error.pattern">Version format : <MAJOR>.<MINOR>.<PATCH></div>
				    </div>
				</p>
				<p>
					<div class="describe-modal-label">
						{{editorType.display}} Description 
					</div>			
					<textarea rows="4" cols="35" data-ng-model="model.description"/> 
				</p>
			</div>
		</div>
		<div class="modal-footer">
			<div class="align-left">
			    <button class="btn btn-primary" type="button" type="submit" ng-click="ok()" ng-disabled="describeEditorModalForm.$invalid">Create</button>
			 </div>
			<div class="align-right">
			    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>
</div>	