<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header">
				<i class="fa fa-edit"></i>
				<h3 class="box-title">Describe your Information Model</h3>
			</div>
			<!-- /.box-header -->
			<p>
				<i>Hint: Press Ctrl + Space for Content Assist</i>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div id="editor-container">
			<div id="xtext-editor" data-editor-xtext-lang="infomodel"
				data-editor-enable-formatting-action="true"
				data-editor-show-error-dialogs="true"></div>
		</div>
	</div>
	
	<div class="col-md-1">
		<div id="import-button-container">
			<button class="import-button" ng-click="importFunctionBlock()" ng-disabed="showAddFunctionBlockButton">
					<i class="fa fa-long-arrow-left"></i>
			</button>
		</div>
	</div>

	<div class="col-md-3">
		<div id="function-block-browser-container">
			<div id="searchResult">
				<div>
					<table st-table="displayedModels" st-safe-src="models"
						class="table">
						<thead>
							<tr>
								<th colspan="6">
									<div class="form-inline form-group">
										<input type="search" placeholder="Search Function Blocks"
											ng-model="queryFilter" ng-keypress="searchOnEnter($event)"
											st-search autofocus class="queryFilter input-sm" />
										<button id="search" class="search-button" ng-click="search()">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</th>
							</tr>
							<tr>
								<th><b>Search Results: {{models.length}} </b></th>
							</tr>
							<tr>
								<th id="onName" st-sort="id.name"><a href="">Name <i
										class="fa fa-sort"></i></a></th>
								 <th class="action">Details</th>								
							</tr>
						</thead>
						<tbody>
							<tr st-select-row="model" ng-repeat="model in displayedModels">
								<td>{{ model.id.name }}</td>
								<td class="action"><a class="action"><i class="fa fa-info-circle"></i></a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="itemsByPage"
										st-displayed-pages="displayedPages"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
