<div class="modal-header">
	<h3 class="modal-title"><center>Choose the Resource</center></h3>
</div>
<div class="modal-body">
	<div>
		<table st-table="displayedResources" st-safe-src="resources" class="table">
			<thead>
				<tr>
					<th colspan="6">
						<div class="form-inline form-group">
							<input type="search" placeholder="Search Resources"
								ng-model="resource"
								st-search autofocus class="search-box-open-project input-sm" />
							<a id="search" class="search-button">
								<i class="fa fa-search"></i>
							</a>
						</div>
					</th>
				</tr>
				<tr>
					<th id="onName" st-sort="resource"><a href="">Name <i
							class="fa fa-sort"></i></a></th>
				</tr>
			</thead>
			<tbody>
				<tr st-select-row="resource" ng-repeat="resource in displayedResources">
					<td>{{ resource.name }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage"
							st-displayed-pages="displayedPages"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<div class="modal-footer">
	<div class="align-left">
	    <button class="btn btn-primary" type="button" ng-click="ok()">Open</button>
	 </div>
	<div class="align-right">
	    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>