<div class="row">
	<div class="col-md-12">
		<div role="tabpanel">
			<ul class="nav nav-tabs editor-ul" role="tablist">
		    	<li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTab == $index}">
		        	<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">Tab {{tab.id}} <span ng-click="deleteTab($index)" class="glyphicon glyphicon-remove"></span></a>
				</li>
		        <li role="presentation">
		        	<a aria-controls="home" role="tab" data-toggle="tab" ng-click="addTab()"><i class="fa fa-plus" aria-hidden="true"></i></a>
		        </li>
		    </ul>		    
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab">
		        <h1 id="hi" ng-show="false">BOO YEAH</h1>
                <h1>{{tabs[selectedTab].id}}</h1>
                <h3>{{tabs[selectedTab].language}}</h3>
                <h3>{{tabs[selectedTab].parent}}</h3>
            </div>
        </div>
        <div id="editors""></div>
	</div>
</div>

