<div ng-if="key.indexOf('enum_') !=0">
  <label class="control-label input-label" style="width:40%;">{{key | titlecase}}</label>
  <input ng-if="value == 'int'" type="number" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid"/>
  <input ng-if="value == 'double'" type="number" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid" step="0.01"/>
  <input ng-if="value == 'float'" type="number" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid" step="0.01"/>
  <input ng-if="value == 'long'" type="number" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid"/>
  <input ng-if="value == 'byte'" type="number" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid" min="-127" max="128"/>
  <input ng-if="value == 'short'" type="number" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid" min="-32768" max="32767"/>
  <input ng-if="value == 'Date'" type="datetime" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid"/>
  <input ng-if="value == 'boolean'" type="checkbox" name="{{key}}" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid"/>
  <input ng-if="value == 'String'" type="text" name="{{key}}" placeholder="Enter value" value="{{modelinfo.fault[key]}}" class="ng-pristine ng-valid"/>
  <input ng-if="value == 'byte[]'" type="file" name="{{key}}"/>
  <select ng-if="value.indexOf('enum_') ==0" name="{{key}}" style="width: 180px;">
  	<option ng-repeat="enumVal in modelinfo.fault[value]" value="enumVal" > {{enumVal}}</option>
  </select>
</div>
