<fieldset class="scheduler-border">
  <div class="col-md-6" ng-repeat="(key, value) in modelinfo">
    <div class="control-group">
      <div ng-show="key != 'configuration' && key != 'status' && key != 'fault' && key != 'operation'">
        <label class="control-label input-label" style="width:40%;">{{key | titlecase}} </label>
         {{value}}
      </div>
    </div>
  </div>
  <div class="col-md-12"  ng-repeat="(key, value) in modelinfo">
      <div ng-show="key == 'operation'">
        <label class="control-label input-label" style="width:40%;">{{key | titlecase}} </label>
        <br/>
        <div class="col-md-12" style="text-align:center;">
          <a ng-repeat="operationName in modelinfo.operation.names" href="#" class="btn btn-primary button-extra">{{operationName | titlecase}}</a>
        </div>
        <br/>  <br/>
      </div>
  </div>
</fieldset>
<!-- Configuration -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      Configuration
    </h3>
  </div>
  <fieldset class="scheduler-border">
  <div ng-repeat="filteredVal in filterConfiguration(modelinfo.configuration)">
    <div ng-repeat="(key, value) in filteredVal">
      <div ng-if="isObject(modelinfo.configuration[key])"  ng-include="'pages/datatype.html'"></div>
      <div class="col-md-6" ng-if="isBasicFieldOrEnum(modelinfo.configuration[key], key)"  ng-include="'pages/basic.html'" ></div>
    </div>
    </div>
    <div class="col-md-12">
        <a href="#" class="btn btn-primary button-extra pull-right">Save</a>
    </div>    
  </fieldset>
  <br/>
</div>

<!-- Status -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      Status
    </h3>
  </div>
  <fieldset class="scheduler-border">
  <div ng-repeat="filteredVal in filterConfiguration(modelinfo.status)">
    <div ng-repeat="(key, value) in filteredVal">
      <div ng-if="isObject(modelinfo.status[key])"  ng-include="'pages/datatype.html'"></div>
      <div class="col-md-6" ng-if="!isObject(modelinfo.status[key])"  ng-include="'pages/basic.html'" ></div>
    </div>
    </div>
  </fieldset>
</div>

<!-- Fault -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      Fault
    </h3>
  </div>
  <fieldset class="scheduler-border">
  <div ng-repeat="filteredVal in filterConfiguration(modelinfo.fault)">
    <div ng-repeat="(key, value) in filteredVal">
      <div ng-if="isObject(modelinfo.fault[key])"  ng-include="'pages/datatype.html'"></div>
      <div class="col-md-6" ng-if="!isObject(modelinfo.fault[key])"  ng-include="'pages/basic.html'" ></div>
    </div>
    </div>
  </fieldset>
</div>
