<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated blegatt -->
      <package
            uri="http://www.eclipse.org/vorto/metamodel/blegatt/BleGatt"
            class="org.eclipse.vorto.codegen.ble.model.blegatt.ModelPackage"
            genModel="model/blegatt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated blegatt -->
      <package
            uri="http://www.eclipse.org/vorto/metamodel/InformationModel"
            class="org.eclipse.vorto.core.api.model.informationmodel.InformationModelPackage"
            genModel="model/blegatt.genmodel"/>
   </extension>
</plugin>
