.swagger-validator {
    display: none;
}

.swagger-section .swagger-ui-wrap {
	font-family: Droid Sans",​sans-serif;
 	font: inherit;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;

}    
 #swagger-ui-container .btn {
    border: 0 none;
    border-radius: 2px;
    font-weight: bold;
 }
 
 #swagger-ui-container .btn-default{
    background-color: #337ab7;
    border-color: #ccc;
    color: #333;
 }
 #swagger-ui-container .api-name {
   	font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
 
 }
 
.api-description {
 	font-size: 15px;
    padding-bottom: 10px;
 }