<!-- Top Content -->
{% for main in site.pages %}
  {% if main.series == 'homepagetop' %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <div class="box">
  
    {% if thecycle == 'even' %}

          <img class="box-img img-responsive pull-right wow {{ main.animatestyle}} zoom1" src="{{ base }}/img/{{ main.imagename}}">

     {% if main.videourl %}
       <div class="{{ main.style }}">
      <a title="{{main.videotitle}}" data-rel="prettyPhoto" href="{{main.videourl}}" rel="prettyPhoto" >
          <i class="fa fa-play-circle fa-5 play-icon"></i>
          </a>
        <!--  {% if main.playvideo== 'yes' %}
        <video width="500" height="500" controls autoplay><source src="{{base}}/video/mov_bbb.mp4" type="video/mp4"></video>
          {% endif %} -->
        </div>

        {% endif %}

    {% else %}
    {% if main.releaseinfo == 'yes' %}
    <div class="jumbotron">
 <h1>Eclipse Vorto 0.10 Milestone 1</h1>
 <p class="lead">We are happy to announce the availability of Eclipse <b>Vorto 0.10 Milestone 1</b>. It is available on <a href="https://github.com/eclipse/vorto" target="_blank">Github</a>.</p><br>
 <div class="row">
 <div class="col-lg-3">
 <img class="wow fadeInDown" src="{{ base }}/img/Vorto_toolset_icon.png">
 </div>
 <div class="col-lg-3">
 <img class="wow fadeInDown" src="{{ base }}/img/Vorto_repository_icon.png">
 </div>
 <div class="col-lg-3">
 <img class="wow fadeInDown" src="{{ base }}/img/Code_generator_API_icon.png">
 </div>
 <div class="col-lg-3">
 <img class="wow fadeInDown" src="{{ base }}/img/Code_Generators_icon.png">
 </div>
 </div>
 <div class="row">
 <div class="col-lg-3">
 <p class="wow fadeInDown"><b>Vorto Toolset</b></p>
 </div>
 <div class="col-lg-3">
 <p class="wow fadeInDown"> <b>Vorto Repository</b></p>
 </div>
 <div class="col-lg-3">
 <p class="wow fadeInDown"><b>Code Generator API</b></p>
 </div>
 <div class="col-lg-3">
 <p class="wow fadeInDown"><b>Code Generators</b></p>
 </div>
 </div>
 <br>
 <div class="row">
  <div class="col-lg-6">
  <p><a class="vbtn wow fadeInDown" href="{{ base }}/downloads/index.html" role="button">Download</a></p>   
  </div>
  <div class="col-lg-6">
  <p><a class="vbtn wow fadeInDown" href="{{ base }}/documentation/appendix/releasenotes/0.10.0-M1.html" role="button">Release Notes</a></p>   
  </div>
  </div>    
 </div>
    
    {% else %}
      <img class="box-img img-responsive pull-left wow fadeInLeft zoom1" src="{{ base }}/img/{{ main.imagename}}">
        {% if main.videourl %}
        <div class="{{ main.style }}">
          <a title="{{main.videotitle}}" data-rel="prettyPhoto" href="{{main.videourl}}" rel="prettyPhoto" >
            <i class="fa fa-play-circle fa-5 play-icon"></i>
          </a>
        </div>
      {% endif %}
    {% endif %}
    {% endif %}
    {% if main.fadeduration %}
      <div class="wow {{ main.fadestyle}}" data-wow-duration="{{ main.fadeduration}}">
    {% else %}
      <div class="wow {{ main.fadestyle}}">

    {% endif %}
      <h2 class="box-headline" id="header{{main.sequence}}">{{ main.title}}</h2>
      <p>{{ main.content }}</p>
      </div>
  </div>
  <hr class="box-separator">
  {% endif %}

{% endfor %}
