<?xml version="1.0" encoding="UTF-8"?>
	<plugin>
	   <extension
	         id="org.eclipse.vorto.codegen.examples.lwm2m.LWM2MGenerator"
	         name="org.eclipse.vorto.codegen.examples.lwm2m.LWM2MGenerator"
	         point="org.eclipse.vorto.codegen.org_eclipse_vorto_codegen_Generators">
	      <client
	            class="org.eclipse.vorto.codegen.examples.lwm2m.LWM2MGenerator"
	            menuLabel="LWM2M Generator">
	      </client>
	   </extension>
	
	</plugin>
