<div class="modal-header">
	<h3 class="modal-title"><center>{{generator.name}} Generator Configuration</center></h3>
</div>

<div>
	<div class="modal-body">
		<div class="box box-default">
			<div><img src="data:image/png;base64,{{generator.image144x144}}" width="144" height="144"></div>
			<div href="#">
				<h4>{{generator.name}}</h4>
				<ul>
					<li>{{generator.description}}</li>
					<li class="author"><i class="fa fa-fw fa-user"> </i>{{generator.creator}}</li>
					<li class="doc"><a ng-href="{{generator.documentationUrl}}"> <i class="fa fa-fw fa-book"></i>Documentation</a></li>
				</ul>
			</div>
			<div dyn-template src="{{configTemplate}}"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="align-right">
			 <button class="btn btn-primary" type="submit" ng-click="generate()">Generate</button>
		</div>
		<div class="align-left">
			<button  class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>