<div class="row">
        <div class="col-sm-12 main">
          <div class="row">
              <div class="project-selection">
                  <div class="form-inline form-group">
                    <div class="radio">
                       <label class="radio"><input type="radio" ng-model="modelType" value="all" checked="checked"> All</label>
                    </div>     
                    <div class="radio">    
                        <label> <input type="radio" ng-model="modelType" value="InformationModel"> Information Model</label>
                    </div>     
                    <div class="radio"> 
                        <label><input type="radio" ng-model="modelType" value="Functionblock"> Function Block</label>
                    </div>     
                    <div class="radio">     
                       <label> <input type="radio" ng-model="modelType" value="Datatype"> Data Type</label>
                    </div> 
                  </div> 
                   <div class="form-inline form-group">
                   	 <input type="text" ng-model="queryFilter" ng-keypress="searchOnEnter($event)" placeholder="Filter Information Models" class="queryFilter" autofocus> 
                   	  <button id="search" type="button" class="btn btn-primary" ng-click="search()">Search</button>
                   	 <button type="button" class="btn btn-primary" ng-click="clearInput()">Clear</button>
                   </div>
                </div>  
          </div>
 			                
          <div id="searchResult">
          
			      <div>
			        <table st-table="displayedModels" st-safe-src="models" class="table table-striped">
			           <thead>
			            <tr>
			            	<th colspan="6"><b>Search Results: {{models.length}} </b></th>
			            </tr>
			            <tr>
			            	<th id="onType" 		st-sort="type">	<a href="">Type  <i class="fa fa-sort"></i></a></th>
			                <th id="onName" 		st-sort="id.name">		<a href="">Name  <i class="fa fa-sort"></i></a></th>			               	
			                <th id="onNamespace" 	st-sort="id.namespace">	<a href="">Namespace  <i class="fa fa-sort"></i></a></th>
			                <th id="onVersion" 		st-sort="id.version">	<a href="">Version  <i class="fa fa-sort"></i></a></th>
			                <th>Description</th>
			                <th class="action">Details</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr ng-repeat="model in displayedModels" ng-click="go(model)">
			              <td ng-show="model.type === 'InformationModel'">
			              		<img src="images/im.png"/>
			              </td>
			              <td ng-show="model.type === 'Functionblock'">
			              		<img src="images/fb.png"/>
			              </td>
			              <td ng-show="model.type === 'Datatype'">
			              		<img src="images/dt.png"/>
			              </td>
			              <td>{{ model.id.name }}</td>
			              <td>{{ model.id.namespace }}</td>
			              <td>{{ model.id.version }}</td>
			              <td>{{ model.description }}</td>
			              <td class="action"><a class="action"><i class="fa fa-info-circle"></i></a></td>
			            </tr>
			          </tbody>
			          <tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
								</td>
							</tr>
					  </tfoot>
			        </table>
			      </div>
          </div>
        </div>
  </div>