
<div class="signup-box">

	<div class="page-header">
		<h2>Sign up</h2>

		<p>
			Please complete the account registration. 
		</p>
	</div>
	
	<br/>
  <!--  ng-submit="register(user)" -->
    <form name="form" >
        <!-- emailName -->              	
        <div class="form-group" ng-class="{ 'has-success has-feedback': 	!form.email.$error.required &&
																			!form.email.$error.email && 
																			!form.email.$error.emailExists &&
																			!emailAddressExists ,
											'has-error has-feedback': 		form.email.$error.email ||
																			form.email.$error.emailExists ||
																			emailAddressExists	 }">
            <label for="email">Email *</label>
            <input 	type="email" 
            		id="email"
            		name="email"
            		class="form-control" 
            		ng-model="user.email"
            		ng-blur="checkEmailAlreadyExists(user)"
            		ng-readonly="user.emailReadonly"
            		required />
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!form.email.$error.required &&
																				!form.email.$error.email && 
																				!form.email.$error.emailExists &&
																				!emailAddressExists"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.email.$error.email ||
																					form.email.$error.emailExists ||
																					emailAddressExists"></span>

		    <span ng-show="emailAddressExists" class="help-block signup-form-main-message">Email Address is already in use.</span>
            <span ng-show="form.email.$error.email" class="help-block signup-form-main-message">Enter a valid email!</span>
            <span ng-show="form.email.$error.emailExists" class="help-block signup-form-main-message">Email already exists!</span>
        </div>
        
        <!-- emailName -->              	
        <div class="form-group" ng-class="{ 'has-success has-feedback': 		!form.emailCon.$error.required &&
        																		!form.emailCon.$error.emailmatch ,
											'has-error has-feedback': 			form.emailCon.$error.emailmatch	 }">
            <label for="emailCon">Email Confirmation *</label>
            <input 	type="email" 
               		id="emailCon"
               		name="emailCon"
            		class="form-control" 
            		ng-model="user.emailCon"
            		ng-readonly="user.emailReadonly"
            		email-check="email"  
            		required />            		
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!form.emailCon.$error.emailmatch"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.emailCon.$error.emailmatch"></span>		  	
            <span ng-show="form.emailCon.$error.emailmatch" class="signup-form-main-message"> Emails don't match. </span>
        </div>
        
        <!-- userName -->              	
        <div class="form-group" ng-class="{ 'has-success has-feedback': 	!form.username.$error.required &&
																			!form.username.$error.minlength &&
																			!form.username.$error.maxlength &&
																			!form.username.$error.pattern &&
																			!form.username.$error.usernameExists &&
																			!usernameExists ,
											'has-error has-feedback': 		form.username.$error.minlength ||
																			form.username.$error.maxlength ||
																			form.username.$error.pattern ||
																			form.username.$error.usernameExists ||
																			usernameExists	 }">
            <label for="username">Username *</label>
            <input 	type="text" 
            		name="username"
            		class="form-control"            		 
            		ng-pattern="/^[a-zA-Z0-9@\.]*$/"
            		ng-model="user.username"
            		ng-readonly="user.emailReadonly"
            		ng-minlength="5" 
       				ng-maxlength="30" 
       				ng-blur="usernameAlreadyExists(user)"
            		required>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!form.username.$error.required &&
																				!form.username.$error.minlength &&
																				!form.username.$error.maxlength &&
																				!form.username.$error.pattern &&
																				!form.username.$error.usernameExists &&
																				!usernameExists"></span>
 			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.username.$error.minlength ||
																					form.username.$error.maxlength ||
																					form.username.$error.pattern ||
																					form.username.$error.usernameExists ||
																					usernameExists"></span>
				        															          	
     		<span ng-show="usernameExists" class="help-block signup-form-main-message">Username is already in use.</span>  	
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block signup-form-main-message">Username is required</span>
            <span ng-show="form.username.$error.pattern" class="help-block signup-form-main-message">Only characters [a-zA-Z]</span>
            <span ng-show="form.username.$error.minlength" class="help-block signup-form-main-message">Username is too short min. 5 chars</span>
            <span ng-show="form.username.$error.maxlength" class="help-block signup-form-main-message">Username is too long max. 30 chars</span>
        </div>
        
        <!-- password -->
        <div class="form-group" ng-class="{ 'has-success has-feedback': 	!form.password.$error.required &&
																			!form.password.$error.minlength &&
																			!form.password.$error.maxlength  ,
											'has-error has-feedback': 		form.password.$error.minlength ||
																			form.password.$error.maxlength	 }">
            <label 	for="password">Password *</label>
            <input 	type="password" 
            		id ="password"
            		name="password" 
            		class="form-control" 
            		ng-model="user.password" 
    		        ng-minlength="6" 
       				ng-maxlength="20"
            		required />
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!form.password.$error.required &&
																				!form.password.$error.minlength &&
																				!form.password.$error.maxlength"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.password.$error.minlength ||
																					form.password.$error.maxlength"></span>
				        																	  	
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span ng-show="form.password.$error.minlength" class="help-block signup-form-main-message">Password is too short min. 6 chars</span>
            <span ng-show="form.password.$error.maxlength" class="help-block signup-form-main-message">Password is too long max. 20 chars</span>
        </div>
        
        <!-- passwordCon -->
        <div class="form-group" ng-class="{ 'has-success has-feedback': 	!form.passwordCon.$error.required &&
																			!form.passwordCon.$error.pwmatch ,
											'has-error has-feedback': 		form.passwordCon.$error.pwmatch }">
            <label 	for="password">Password Confirmation *</label>
            <input 	type="password" 
            		id ="passwordCon"
            		name="passwordCon" 
            		class="form-control" 
            		ng-model="user.passwordCon"
            		pw-check="password" 
            		required />
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!form.passwordCon.$error.required &&
																				!form.passwordCon.$error.pwmatch"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.passwordCon.$error.pwmatch"></span>
				        																	  	
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block signup-form-main-message">Password is required</span>
			<span ng-show="form.passwordCon.$error.pwmatch" class="signup-form-main-message"> Passwords don't match. </span>
		</div>
		
		<div>
		 	* Mandatory Fields
		</div>
                
        <div class="form-actions" style="margin-top:20px;">
        	<button type="submit"
                    ng-disabled="form.$invalid || emailAddressExists || usernameExists"
                    class="btn btn-primary"
            		ng-click="register(user)">Sign up</button>
            <a href="#/login" class="btn btn-link">Cancel</a>            			
        </div>
        
    </form>
</div>

<!-- Modal -->
<div id="signup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#3a5a82; color:white;">
        <button type="button" class="close" data-dismiss="modal" style="color:white;">&times;</button>
        <h4 class="modal-title"><b>Sign Up</b></h4>
      </div>
      <div class="modal-body">
       	<div>
	        <p>	You have signed up successfully, please login below.<br/> 
	        	We send you an confirmation email with further information to get you started with Vorto.</p>
        </div>
      </div>
      <div class="modal-footer">
       	<button type="button" class="btn btn-success" ng-click="go('./#/login', user)">Login</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear(user)">Close</button>
      </div>
    </div>

  </div>
</div>