<div class="error-message-body" ng-show="showEditorBody == false">
	<h2>
		Could not open project : {{projectName}}
	</h2>
</div>

<div class="editor-body" ng-show="showEditorBody == true">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">
						<b>{{projectName}}</b>
						<div class="align-right">
							 <button class="btn btn-primary" type="button" ng-click="saveResource()" ng-show="isEditorOpen == true">Save <span class="fa fa-floppy-o"></span></button>
							 <button class="btn btn-primary" type="button" ng-click="uploadProject()" ng-show="isValidationInProcess == false">Publish <i class="fa fa-upload" aria-hidden="true"></i></button>
							 <a ng-show="isValidationInProcess == true"> <i class="fa fa-cog fa-spin fa-1x"></i> </a>
							 <button class="btn btn-primary" type="button" ng-click="openCloseProjectModal()">Exit <span class="glyphicon glyphicon-remove"></span></button>
						</div>
					</h3>
				</div>
				<!-- /.box-header -->
				<p>
					<i class="fa fa-edit"></i> Describe your Vorto Model
					<br>
					<i>Hint: Press Ctrl + Space for Content Assist</i>
					<br>
					<i>Hint: Press Ctrl + S to Save</i>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-box">
			<div js-tree="treeConfig" ng-model="projectResources" tree="treeInstance" tree-events="copy_node:copyNodeCallback;create_node:createNodeCallback">
			</div>
		</div>

		<div class="col-md-7 col-box">
			<div id="tabbed-editor-container">
				<div role="tabpanel">
					<ul class="nav nav-tabs editor-ul" role="tablist">
				    	<li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTabIndex == $index}">
				        	<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">
				        		<span>{{tab.name}}</span>
				        		<i ng-click="closeTab($index)" class="glyphicon glyphicon-remove"></i>
				        	</a>
						</li>
				        <li role="presentation">
				        	<a aria-controls="home" role="tab" data-toggle="tab" ng-click="openAddEditorModal()"><i class="fa fa-plus" aria-hidden="true"></i></a>
				        </li>
				    </ul>
				</div>
		        <div id="editors"></div>
		   </div>
		</div>

		<div class="col-md-3 col-box" ng-show="isEditorOpen == true">
			<div class="col-md-1 col-box">
				<div class="center-col">
					<div class="center-container" ng-show="showImportButton">
						<a>
							<i class="fa fa-angle-double-left import-button" ng-click="importModel()" ng-disabed="showAddFunctionBlockButton"></i>
						</a>
					</div>
					<div class="center-container" ng-hide="showImportButton">
						<a>
							<i class="fa fa-cog fa-spin fa-2x"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-11 col-box">
				<div id="function-block-browser-container">
					<div id="searchResult">
						<div>
							<table st-table="displayedModels" st-safe-src="models"
								class="table">
								<thead>
									<tr>
										<th colspan="2">
											<div class="form-inline form-group">
												<input type="search" placeholder="Search Models"
													ng-model="queryFilter" ng-keypress="searchOnEnter($event)"
													st-search autofocus class="queryFilter input-sm" />
												<a id="search" class="search-button" ng-click="search()" ng-show="showSearchButton">
													<i class="fa fa-search"></i>
												</a>
												<a ng-hide="showSearchButton">
													<i class="fa fa-cog fa-spin fa-2x"></i>
												</a>
											</div>
										</th>
									</tr>
									<tr>
										<th id="onName" st-sort="id.name">
											<a href="">Name <i class="fa fa-sort"></i></a>
										</th>
										 <th class="action">
										 	Details
										</th>
									</tr>
								</thead>
								<tbody>
									<tr st-select-row="model" ng-repeat="model in displayedModels">
					                	<td ng-show="model.type === 'InformationModel'">
			              					<img src="images/im.png"/>
			              				</td>
			              				<td ng-show="model.type === 'Functionblock'">
						              		<img src="images/fb.png"/>
							            </td>
							            <td ng-show="model.type === 'Datatype'">
						              		<img src="images/dt.png"/>
							            </td>
										<td>{{ model.id.name }}</td>
										<td class="action">
											<a target="_blank" href="{{ globalContext.repositoryBasePath }}/#/details/{{ model.id.namespace }}/{{ model.id.name }}/{{ model.id.version }}">
												<i class="fa fa-info-circle" tooltip-placement="top" uib-tooltip="Click for details"></i>
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2" class="text-center">
											<div st-pagination="" st-items-by-page="itemsByPage"
												st-displayed-pages="displayedPages"></div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
