<div class="error-message-body" ng-show="showEditorBody == false">
	<h2>
		Could not open project : {{projectName}}
	</h2>
</div>

<div class="editor-body" ng-show="showEditorBody == true">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<h2 class="box-title">{{projectName}}</h2>
						<!--div class="box-tools">
							 <button class="btn btn-default btn-close" type="button" ng-click="openCloseProjectModal()"><i class="fa fa-close"></i> Close Project</button>
						</div-->
				</div>
				<div class="row action-btn">
						<div class="col-md-3">
							 <button class="btn btn-app" type="button" ng-click="openAddEditorModal()"> <span class="fa fa-plus"></span> New Model</button>
							 <button class="btn btn-app" type="button" ng-click="saveResource()" ng-show="isEditorOpen == true"> <span class="fa fa-floppy-o"></span> Save</button>
							 <button class="btn btn-app" type="button" ng-click="uploadProject()" ng-show="isValidationInProcess==false && isEditorOpen==true"> <i class="fa fa-upload" aria-hidden="true"></i>Publish</button>
							 <button class="btn btn-app validate-btn" ng-show="isValidationInProcess == true"> <i class="fa fa-cog fa-spin fa-2x"></i> </button>
							 </div>
								<div class="col-md-5">
									<div uib-alert ng-show="editorHint" close="closeHint()">{{editorHint}}</div>
						  		</div>
							<div class="col-md-4">
							  <button class="btn btn-app btn-close pull-right" type="button" ng-click="openCloseProjectModal()"><i class="fa fa-close"></i> Close Project</button>
						  </div>
						</div>
						</div>
						<div class="row">
						<hr/>
						</div>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-box sidebar">
			<span class="col-header">FILE EXPLORER</span>
			<div ng-show="isTreeLoading == true" class="center">
				<i class="fa fa-cog fa-spin"></i>
			</div>
			<div js-tree="treeConfig" ng-model="projectResources" tree="treeInstance" tree-events="copy_node:copyNodeCallback;create_node:createNodeCallback">
			</div>
		</div>

		<div class="col-md-7 col-box editor">
			<span class="col-header">EDITOR</span>
			<div id="tabbed-editor-container">
				<div role="tabpanel">
					<ul class="nav nav-tabs editor-ul" role="tablist">
				    	<li role="presentation" ng-repeat="tab in tabs" ng-click="selectTab($index)" ng-class="{'active':selectedTabIndex == $index}">
				        	<a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">
				        		<span>{{tab.name}}</span>
				        		<i class="fa fa-close" ng-click="closeTab($index)"></i>
				        	</a>
						</li>
				        <li role="presentation" id="addnewmodel">
				        	<a aria-controls="home" role="tab" data-toggle="tab" ng-click="openAddEditorModal()">
				        		<span></span>
				        		<i class="fa fa-plus" aria-hidden="true"></i>
				        	</a>
				        </li>
				    </ul>
				</div>
		        <div id="editors"></div>
		   </div>
		</div>

		<div class="col-md-3 col-box">
					<span class="col-header">IMPORT MODELS</span>
					<div  ng-show="isEditorOpen == true">
			<!--div class="col-md-1 col-box" >
				<div class="center-col">
					<div class="center-container" ng-show="showImportButton">
						<a>
							<i class="fa fa-angle-double-left import-button" ng-click="importModel()" ng-disabed="showAddFunctionBlockButton"></i>
						</a>
					</div>
					<div class="center-container" ng-hide="showImportButton">
						<a>
							<i class="fa fa-cog fa-spin fa-2x"></i>
						</a>
					</div>
				</div>
			</div-->
				<!--button class="btn import-btn" type="button" ng-show="showImportButton" ng-click="importModel()" ng-disabed="showAddFunctionBlockButton"> <i class="fa fa-angle-double-left"></i> <span>Import Model</span></button>
				<a ng-hide="showImportButton">
							<i class="fa fa-cog fa-spin"></i>
				</a-->

			<div class="col-md-12 col-box">
				<div id="function-block-browser-container">
					<div id="searchResult">
						<div>
							<table st-table="displayedModels" st-safe-src="models"
								class="table">
								<thead>
									<tr>
										<th colspan="3">
											<div class="input-group-search">
												<input type="search" placeholder="Search Models"
													ng-model="queryFilter" ng-keypress="searchOnEnter($event)"
													st-search autofocus class="form-control queryFilter" />
												<a class="search-button" id="search" ng-click="search()" ng-show="showSearchButton">
													<i class="fa fa-search"></i>
												</a>
												<a class="search-button" ng-hide="showSearchButton">
													<i class="fa fa-cog fa-spin"></i>
												</a>
											</div>
										</th>
									</tr>
									<tr>
										<th></th>
										<th id="onName" st-sort="id.name">
											<a href="">Name <i class="fa fa-sort"></i></a>
										</th>
										 <th class="action">
										 	Action
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="model in displayedModels">
					                	<td ng-show="model.type === 'InformationModel'">
			              					<img src="images/im.png"/>
			              				</td>
			              				<td ng-show="model.type === 'Functionblock'">
						              		<img src="images/fb.png"/>
							            </td>
							            <td ng-show="model.type === 'Datatype'">
						              		<img src="images/dt.png"/>
							            </td>
										<td><a target="_blank" href="{{ globalContext.repositoryBasePath }}/#/details/{{ model.id.namespace }}/{{ model.id.name }}/{{ model.id.version }}" title=""Click for details"">{{ model.id.name }}<br/> <span class="namespace">{{ model.id.namespace }}:{{ model.id.version }}</span></a></td>

										<td class="action">

											<button class="btn" ng-show="showImportButton" ng-click="importModel(model)" ng-disabed="showAddFunctionBlockButton" tooltip-placement="auto" uib-tooltip="Import"> <i class="fa fa-angle-double-left"></i></button>

											<button class="btn" ng-hide="showImportButton"><i class="fa fa-cog fa-spin"></i></button>

										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2" class="text-center">
											<div st-pagination="" st-items-by-page="itemsByPage"
												st-displayed-pages="displayedPages"></div>
										</td>
									</tr>
								</tfoot>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
