
<link href="css/comment.css" rel="stylesheet"> 


		<div class="row">
			<div class="project-selection">
				<a href="./#/" st-backlink><i class="fa fa-fw fa-long-arrow-left"></i>Go Back</a>  
			</div>
		</div> 

			<div class="comment-tabs">
				<ul class="comment-tabs nav nav-tabs" role="tablist">
					<li class="active">
						<a href="" role="tab" data-target="#model" data-toggle="tab" style="height:70px;">
							<h4 class="reviews text-capitalize"><i class="fa fa-info-circle"></i> Model</h4>
						</a>
					</li>					
					<li>
						<a href="" role="tab" data-target="#discussion" data-toggle="tab" style="height:70px;">
							<h4 class="reviews text-capitalize"><i class="fa fa-comment"></i> Discussion  <span class="badge">{{comments.length}}</span> </h4>
						</a>
					</li>
					<li ng-show="authority == 'ROLE_ADMIN' || model.author === user">
						<a href="" role="tab" data-target="#admin" data-toggle="tab" style="height:70px;">
							<h4 class="reviews text-capitalize"><i class="fa fa-cogs"></i> Administration  </h4>
						</a>
					</li>
				</ul> 
				
				<div class="tab-content">
					<div class="tab-pane active" id="model">

						<div class="row">
								
							  <h3 class="modelHeader ng-binding">{{model.displayName}} {{model.type}}</h3>

							  <div class="col-sm-12 modelDetails">
								 <div class="col-sm-3 modelImg">
								   <div class="row">
										<div class="placeHolder">
											<div class="noimg">No Image</div>
										</div>
								   </div>
							   <div class="row">
							  <div class="adv">
								  <div class="small-box bg-aqua">
								    <a ng-show="context.webEditor.enabled" target="_blank" href="{{ webEditorLink() }}" class="small-box-footer">
									  Go to the Web Editor <i class="fa fa-arrow-circle-right"></i>
									</a>
									<div class="inner">
									  <h3>Tools</h3>
									  <p><img src="images/cli.png"> Vorto CLI</p>
									  <p><img src="images/eclipse.png"> Vorto Eclipse Toolset</p>
									</div>
									<a href="http://www.eclipse.org/vorto/downloads" class="small-box-footer">
									  Go to Downloads <i class="fa fa-arrow-circle-right"></i>
									</a>
								  </div>
							  </div>
							  </div>
							  </div>
							  <div class="col-sm-6 modelDet">

							   <div class="infomodel">
								<dl class="dl-horizontal">
								  <dt>Name:</dt>
								  <dd class="ng-binding">{{model.id.name}}</dd>
								  <dt>Description: </dt>
								  <dd class="ng-binding">{{model.description}}</dd>
								  <dt>Display Name:</dt>
								  <dd class="ng-binding">{{model.displayName}}</dd>
								  <dt>Namespace:</dt>
								  <dd class="ng-binding"> {{model.id.namespace}}</dd>
								  <dt>Version: </label></dt>
								  <dd class="ng-binding">{{model.id.version}}</dd>
								  <dt>Created On: </label></dt>
								  <dd class="ng-binding">{{model.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}</dd>
								  <dt>Created By:</dt>
								  <dd class="ng-binding" ng-show="model.author === user">You</dd>
								  <dd class="ng-binding" ng-show="model.author != user">Other user</dd>
								  <dt>References: </label></dt>
								  <dd><ul>
									  <li ng-repeat="reference in model.references" class="ng-scope"><a ng-href="./#/details/{{reference.namespace}}/{{reference.name}}/{{reference.version}}" class="ng-binding">{{reference.namespace}}.{{reference.name}}:{{reference.version}}</a></li>
								  </ul>
								  </dd>
								  <dt>Used By: </dt>
								  <dd>
							   <ul>
									  <li ng-repeat="usage in model.referencedBy" class="ng-scope"><a ng-href="./#/details/{{usage.namespace}}/{{usage.name}}/{{usage.version}}" class="ng-binding">{{usage.namespace}}.{{usage.name}}:{{usage.version}}</a></li>
								  </ul>
							   </dd>
							   <div ng-hide="model.type === 'Mapping'">
							   <dt>Mappings: </dt>
								  <dd>
							   		<ul>
									  <li ng-repeat="(key, value) in model.platformMappings" class="ng-scope"><a ng-href="./#/details/{{value.namespace}}/{{value.name}}/{{value.version}}" class="ng-binding">{{key}}</a></li>
								   </ul>
							      </dd>
							   </div>
							</dl>
							<div class="modelFilePreview">
							  <h4>Model Preview</h4>
							  <pre><code style="font-size: 12px;">{{content}}</code>
							</pre>
							</div>
						  </div>
						  
						  </div>
						  <div class="col-lg-3 col-xs-12 text-center modelGen" ng-hide="model.type === 'Datatype' || model.type === 'Mapping'">
							<div class="row">
								<label>Available Generators: </label>
							</div>
							<div class="row" ng-repeat="row in platformGeneratorMatrix">
								<!--genbox-->
								<div class="col-lg-6 col-md-2 col-xs-12" ng-repeat="generator in row">							
										<a ng-click="openGeneratorConfig(generator)">
		            					<div class="tiny-box" id="tinyBox:{{generator.key}}">
		                					<span class="tiny-box-icon">
												<img width="32px" height="32px" ng-src="data:image/png;base64,{{generator.image32x32}}"/>
											</span>
		               						<div class="tiny-box-name">
												<span>{{generator.name}}</span>
											</div>
		               						<div class="tiny-box-action">
												<span>
													<button class="btn btn-block btn-info btn-xs" data-toggle="modal">Generate</button>
												</span>
											</div>
		               					</div>
	               						</a>
								</div>
							   <!-- end genbox -->            
							</div>
						 </div>
						  </div>
						</div>
					</div>
				
					<div class="tab-pane" id="discussion">				
						
						<div class="row ">
					      <!-- Left col -->
					        <section class="col-lg-7 col-md-offset-2 connectedSortable">
							
							<!-- Chat box -->
				              <div class="box">
				                <div class="box-body chat" id="chat-box">
				                <h3 ng-show="!authenticated" style="text-align:center;"> 
				                Please <a href="#/login">Sign In</a> to write a comment!
				                </h3>
				                <div class="box-footer">
				                  <div class="input-group group">				                    
				                    <textarea class="form-control comment" 
				                    		  style="height:100px;"
				                    		  placeholder="Type comment ..." 
				                    		  ng-model="commentContent" 
				                    		  ng-disabled="!authenticated">
				                    </textarea>
				                  </div>
				                  <div class="input-group-btn">
				                     <button class=" btn btn-primary createCommentBtn" ng-click="createComment(commentContent)" ng-disabled="!authenticated">Send </button>
				                  </div>
				                </div>
				               
				                 <!-- chat item -->				               
				                				                
				                <div class="direct-chat-msg" ng-repeat="comment in comments">
		                          <div class='direct-chat-info clearfix'>
		                            <span class='direct-chat-name pull-left' ng-show="comment.firstname == null || comment.lastname == null">
		                            	{{comment.author}}
		                            </span>
		                            <span class='direct-chat-name pull-left' ng-show="comment.firstname != '' && comment.lastname != ''">
		                            	{{comment.firstname}} {{comment.lastname}}
		                            </span>
		                            <span class='direct-chat-timestamp pull-right'> <i class="fa fa-clock-o"></i> {{comment.date | date:'hh:mm a dd-MM-yyyy'}}</span>
		                          </div><!-- /.direct-chat-info -->
		                          <div class="direct-chat-text">
		                             
		                             	<pre class="chat">{{comment.content}}</pre>
		                          
		                          </div><!-- /.direct-chat-text -->
		                        </div><!-- /.direct-chat-msg -->
				                
				                </div><!-- /.chat -->
				                
				              </div><!-- /.box (chat box) -->
					
							</section>
						</div>
				
					</div>
					
					
					<div class="tab-pane" id="admin">
						<h4 class="reviews text-capitalize"> Remove Model "{{model.displayName}}"</h4>
					
						<div class="alert alert-warning" role="alert" style="width:50%; margin-top:30px; margin-bottom:30px;" ng-show="model.referencedBy.length > 0">
						  	<p> <i class="fa fa-bell"></i> You can't delete this Model, it is <b>Used By</b>: </p>
						   		
					   		<ul style="margin-top:30px;" class="list-inline" >
							  <li ng-repeat="usage in model.referencedBy" class="ng-scope">
							  	<a ng-href="./#/details/{{usage.namespace}}/{{usage.name}}/{{usage.version}}" class="ng-binding">
							  		{{usage.namespace}}.{{usage.name}}:{{usage.version}}
							  	</a>
							  </li>
						  	</ul>
						</div>
						
						<button class="btn btn-primary" ng-click="remove()" ng-disabled="model.referencedBy.length > 0" >Remove Model</button>
						<br/>
							
					</div>
					
					
					
				</div>
			</div>