<div id="settings">
	<h3 class="modelHeader ng-binding">User Settings</h3>
	<hr>
	<br />
	<div class="row">
		<div class="col-xs-8">
			<button class="btn btn-danger" type="submit"
				ng-click="openRemoveAccount()">
				<i class="glyphicon glyphicon-remove-sign"></i> Delete Account
			</button>
		</div>
	</div>
</div>

<script type="text/ng-template" id="deleteAccount.html">
	<div class="modal-header">
  		<h3 class="modal-title" id="modal-title-deleteAccount">Delete Account</h3>
	</div>
  	<div class="modal-body" id="modal-body-deleteAccount">
      <div class="row">
      	<div class="col-md-12">
        	Are you sure you want to delete your account?
      	</div>
    	</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
        		<div class="alert alert-warning" role="alert">Note: Your information models will be anonymized if you delete your account.</div>
      	</div>
    	</div>
	</div>
	<div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="deleteAccount()">Delete account</button>
			<button class="btn btn" type="button" ng-click="cancel()">Cancel</button>
  	</div>
</script>