<div id="settings">
	<h3 class="modelHeader ng-binding">User Settings</h3>
                	
    <hr>
    <br/>
    <div ng-show="put">
    	<div ng-show="successMessage != null">
		  	<p>
		  		<div class="alert alert-success" role="alert">
		  			<i class="glyphicon glyphicon-ok-sign"></i>
		  			<span class="sr-only">Success:</span>
				  	{{successMessage}}
		  		</div>
		  	</p>
	  	</div>	
		<div ng-show="error">
		  	<p>
		  		<div class="alert alert-danger" role="alert">
				  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  	<span class="sr-only">Error:</span>
				  	Error during User Settings update.
				</div>
		  	</p>
		</div>
	</div>
	
	<br/>
	<br/>

	<form name="form">

	  <div class="row">
	  	<div class="col-xs-4">
	  		 <label>Username</label>
	  	</div>
	  	<div class="col-xs-6" ng-class="{ 'has-success': 	!form.username.$error.required &&
															!form.username.$error.minlength &&
															!form.username.$error.maxlength &&
															!form.username.$error.pattern &&
															!usernameExists  }">
             <input readonly
             		type="text"
             		class="form-control"
             		name="username"
             		id="username"
             		placeholder="Username"
             		ng-model="user.username"
             		ng-pattern="/^[a-zA-Z0-9@\.]*$/"
            		ng-minlength="5" 
       				ng-maxlength="30"
             		ng-blur="usernameAlreadyExists(user)" 
             		required>
             		
             <span ng-show="usernameExists" class="help-block">Username is already in use.</span>
        	 <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
             <span ng-show="form.username.$error.pattern" class="help-block">Only characters [a-zA-Z]</span>
             <span ng-show="form.username.$error.minlength" class="help-block">Username is too short min. 5 chars</span>
             <span ng-show="form.username.$error.maxlength" class="help-block">Username is too long max. 30 chars</span>
             <span ng-show="form.username.$error.usernameExists" class="help-block">Username already exists!</span>    
	  	</div>
	  </div>
	  
  	<br/>
	  
      <div class="row">
	  	<div class="col-xs-4">
	  		<label>Email</label>
	  	</div>
	  	<div class="col-xs-6 form-group" ng-class="{ 'has-success ': 	!form.email.$error.required &&
																		!form.email.$error.email &&
																		!emailAddressExists }" >
	  		<input  type="email"
	  				class="form-control"
	  				name="email"
	  				placeholder="email"
	  				ng-model="user.email"
	  				ng-blur="checkEmailAlreadyExists(user)" 
	  				required >
	  				
		    <span ng-show="emailAddressExists" class="help-block">Email Address is already in use.</span>
	        <span ng-show="form.email.$error.email" class="help-block">Enter a valid email!</span>
	          
	  	</div>
	  </div>
         
   	<br/>
         
      <div class="row">
	  	<div class="col-xs-4">
	  		 <label>Watch Repository</label> 
  		</div>
	  	<div class="col-xs-6">
               <div class="checkbox">
			  <label>
			  	<input type="checkbox" value="" ng-model="user.hasWatchOnRepository">
			  	Notification
			  	<p>Get notifications, when new information models are available.</p>
			  </label>
			</div>
	  	</div>
	  </div>
       
      <div class="row">
	  	<div class="col-xs-8">
	    	<button class="btn btn-success" 
	    			ng-disabled="form.$invalid || vm.dataLoading || emailAddressExists || usernameExists"
	    			type="submit" 
            		ng-click="updateProfil(user)"><i class="glyphicon glyphicon-ok-sign"></i> Update</button>
            <button class="btn btn-danger" 
	    			type="submit" 
            		ng-click="openRemoveAccount()"><i class="glyphicon glyphicon-remove-sign"></i> Delete Account</button>
  		</div>
	  </div>
	  
    </form>           
</div>

 <script type="text/ng-template" id="deleteAccount.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-deleteAccount">Delete Account ?</h3>
        </div>
        <div class="modal-body" id="modal-body-deleteAccount">
			Are you sure, you want to delete your account ? 
        </div>
         <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="deleteAccount()">Yes, I want to delete my account!</button>
            <button class="btn btn" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

