<div class="signup-box panel panel-default">
	<div class="page-header">
    	<h2>Terms and Conditions</h2>
  	</div>
  	<div class="panel-body">
    	<a target="_blank" href="https://www.eclipse.org/legal/termsofuse.php">Link to the terms and conditions of Use for the Eclipse Foundation Web Site and Related Services</a>
  	</div>
  	<div class="panel-footer">
  		<div class="row">
			<div class="col-md-12">
				<div class="checkbox">
				  	<label>
				    	<input type="checkbox" ng-model="acceptTerms"> I confirm I have read and agree to the terms and conditions of Use for the Eclipse Foundation Web Site and Related Services
					</label>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary btn-block" type="submit" ng-disabled="!acceptTerms" ng-click="acceptTermsAndConditions()">
					<i ng-show="isAcceptingTermsAndCondition" class="fa fa-spinner" aria-hidden="true"></i>
					Agree and Proceed
				</button>
			</div>
		</div>
  	</div>
</div>
