<div class="row">
	<div class="center">
          <div class="row">
			<div ng-if="error" class="alert alert-danger">{{error}}</div>
		</div>
	    <div class="col-sm-12 main">
				<div class="panel panel-primary">
					<div class="panel-body">
						<form name="fileUploadForm" class="fileUploadForm form-inline">
							<div class="form-group">
								<label class="control-label input-label" >Upload:</label>
								<input type="file" ng-model="modelFile" name="file" id="file" accept=".type,.fbmodel,.infomodel,.mapping,.zip" class="form-control" style="width:500px;">
								<button ng-click="uploadModel()" class="btn btn-primary">Upload</button>
							</div>
		</form>
							<div class="form-group">
							 <p class="upload-spacing">Supported extensions: *.type, *.fbmodel, *.infomodel, *.mapping, *.zip</p>
							</div>

					</div>
				</div>
		</div>

	</div>
</div>

<div class="row">
  <div class="center-results">
	<h3 ng-show="isLoading">{{loadMessage}}</h3>
</div>
</div>

<div class="row">
 <div class="center-results">
	<button ng-show="showResultBox"  ng-click="checkin(uploadResult.obj)" ng-disabled="!showCheckin" class="btn btn-primary pull-right">Checkin</button>
 </div>
</div>

<div class="row">
  <div class="center-results">
		<fieldset ng-show="showResultBox" class="results-border">
		    <legend class="results-border">Upload Results</legend>
		    	<div class="row">
					<div ng-show="showResultBox">
						  <div class="col-xs-3">Information models : {{modelStats.infocount}}</div>
						  <div class="col-xs-3">Functionblocks: {{modelStats.fbcount}}</div>
						  <div class="col-xs-3">Datatypes: {{modelStats.typecount}}</div>
							<div class="col-xs-3">Mapping:{{modelStats.mappingcount}} </div>
					</div>
				</div>
				<div class="row errorbox-spacing">
					<div ng-show="showResultBox" ng-class="uploadResult.isSuccess? 'alert alert-success' : 'alert alert-danger'">
				  		{{resultMessage}}</p>
				  		<small ng-show="showResultBox && uploadResult.isSuccess">Note: The models you check-in here can be viewed / downloaded by other users of Vorto</small>
				  	</p>	
					</div>
				</div>

				<div ng-repeat="result in uploadResult.obj">
					<div class="accordion-div">

			        <div ng-click="stateArr[$index].active = !stateArr[$index].active" ng-class="{'modelresult-heading-collapsed': stateArr[$index].active, 'modelresult-heading-expanded': !stateArr[$index].active}">
			          <div class="header">
			          	<i ng-class="stateArr[$index].active ? 'fa fa-plus-square' : 'fa fa-minus-square'" aria-hidden="true"></i>
			          	{{result.modelResource.id.name}}
			          	<i ng-class="result.valid === true ? 'fa fa-check fa-lg valid' : 'fa fa-close fa-lg invalid'" aria-hidden="true"></i>
			          </div>
			        </div>

			        <div class="slideExpand" ng-hide="stateArr[$index].active">
			          <div class="modelresults-content">
		<div class="fileUploadDetails">
					<table id="uploadResults">
						<tr><td><label>Namespace:</label></td><td class="tdspacing">{{result.modelResource.id.namespace}}</td></tr>
				        <tr><td><label>Name:</label></td><td class="tdspacing">  {{result.modelResource.id.name}} </td></tr>
				        <tr><td><label>Version:</label></td><td class="tdspacing">   {{result.modelResource.id.version}} </td></tr>
				        <tr><td><label>Model Type:</label> </td><td class="tdspacing"> {{result.modelResource.type}}</td></tr>
				        <tr><td><label>Description:</label> </td><td class="tdspacing">  {{result.modelResource.description}}</td></tr>
				        <tr><td><label>References: </label></td>
				        <td>
		<table>
								<tr ng-repeat="reference in result.modelResource.references">
									<td><i ng-class="isMissing(reference,result.unresolvedReferences) === true ? 'fa fa-close fa-lg invalid' : 'fa fa-check fa-lg valid'" aria-hidden="true"></i></td>
									<td class="tdspacing-half">{{reference.namespace}}.{{reference.name}}.{{reference.version}}</td>
								</tr>
							</table>
						</td>
						</tr>
				        <tr ng-show="result.valid === false"><td colspan="2">
						<label class="error"><i class="fa fa-fw fa-close"></i> Error - {{result.errorMessage}}</label> </td></tr>
	</table>
</div>
	</div>
</div>
</div>
					</div>
		</div>
</fieldset>
</div>
