<div class="row">
        <div class="col-sm-12 main">
          <div class="row">

              <div class="project-selection">
                    <div class="form-inline form-group">
                    <div class="radio">
                       <label class="radio"><input type="radio" ng-model="modelType" value="all" checked="checked"> All</label>
                    </div>     
                    <div class="radio">    
                        <label> <input type="radio" ng-model="modelType" value="InformationModel"> Information Model</label>
                    </div>     
                    <div class="radio"> 
                        <label><input type="radio" ng-model="modelType" value="Functionblock"> Function Block</label>
                    </div>     
                    <div class="radio">     
                       <label> <input type="radio" ng-model="modelType" value="Datatype"> Data Type</label>
                    </div> 
                  </div> 
                   <div class="form-inline form-group">
                   	 <input type="text" ng-model="queryFilter" placeholder="Filter Information Models" class="queryFilter"> 
                   	  <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
                   	 <button type="button" class="btn btn-primary">Clear</button>
                   	</div>
                </div>  
                
          </div>
          <div id="searchResult">
			      <div class="table-responsive">
			        <table class="table table-striped">
			           <thead>
			            <tr>
			            	<th>Type</th>
			                <th>Namespace</th>
			                <th>Name</th>
			                <th>Version</th>
			                <th>Description</th>
			                <th>Action</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr ng-repeat="model in models">
			              <td ng-show="model.modelType === 'InformationModel'"><img src="images/im.png"/></td>
			              <td ng-show="model.modelType === 'Functionblock'"><img src="images/fb.png"/></td>
			              <td ng-show="model.modelType === 'Datatype'"><img src="images/dt.png"/></td>
			              <td>{{ model.id.namespace }}</td>
			              <td>{{ model.id.name }}</td>
			              <td>{{ model.id.version }}</td>
			              <td>{{ model.description }}</td>
			              <td><a href="./#/details/{{model.id.namespace}}/{{model.id.name}}/{{model.id.version}}">Details</a></td>
			            </tr>
			          </tbody>
			        </table>
			      </div>
          </div>
        </div>