<div class="login-box">
<div class="page-header">
	<h2>Login</h2>
</div>

<div class="row">
<form>
	<div class="form-group">
		<label for="username">Username:</label> <input type="text"
			class="form-control" id="username" name="username" ng-model="username"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="password"/>
	</div>
	<button class="btn btn-primary pull-right" ng-click="login()">Log In</button>
</form>
</div>
</div>