<div class="modal-header">
	<h3 class="modal-title"><center>Creating Model</center></h3>
</div>
<div class="modal-body">
	<form name="createModelForm" novalidate>
	<div ng-if="errorMessage != null" class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> {{errorMessage}}</div>
	<label>What type of model would you like to create ?</label>
    <div class="form-group">
        <table>
           <tr>
                <td >                    
                    <input uib-tooltip="Describes a device using function blocks" type="radio" name="modelType" value="InformationModel" ng-model="modelType">
                    Information Model &nbsp;&nbsp;                       
                </td>
                <td>                    
                    <input uib-tooltip="Describes a specific piece of device functionality"  type="radio" name="modelType" value="Functionblock" ng-model="modelType">
                    Function Block &nbsp;&nbsp;                       
                </td>
                <td>                   
                    <input uib-tooltip="Describes an entity or enum used by Function Blocks" type="radio" name="modelType" value="Datatype" ng-model="modelType">
                    Datatype &nbsp;&nbsp;                    
                </td>
                <td>                   
                    <input uib-tooltip="Adds platform specific attributes to a Vorto model" type="radio" name="modelType" value="Mapping" ng-model="modelType">
                    Mapping &nbsp;&nbsp;                   
                </td>
           </tr> 
        </table>
    </div>
    <div class="form-group">
    	<label>Name</label>
        <input type="text" class="form-control" name="modelName" ng-model="modelName" ng-pattern="/^[A-Z][a-zA-Z0-9]*$/" required>
        <div ng-show="createModelForm.modelName.$error.pattern">Please enter a valid model name</div>
    </div>
    <div class="form-group">
    	<label>Namespace</label>
        <input type="text" class="form-control" name="modelNamespace" ng-model="modelNamespace" ng-pattern="/(?:^\w+|\w+\.\w+)+$/" required>
		<div ng-show="createModelForm.modelNamespace.$error.pattern">Please enter a valid model namespace. Example: com.mycompay</div>
    </div>
    <div class="form-group">
    	<label>Version</label>
        <input type="text" class="form-control" name="modelVersion" ng-model="modelVersion" ng-pattern="/^\d+\.\d+\.\d+(-\\w+)*$/" required>
		<div ng-show="createModelForm.modelVersion.$error.pattern">Please enter a valid model version.</div>
    </div>
  </div>
</form>
<div class="modal-footer">
	<div class="align-right">
	    <button ng-if="!isLoading" class="btn btn-primary" type="button" ng-disabled="isLoading || createModelForm.$invalid" ng-click="create()">Create</button>
	    <button ng-if="isLoading" class="btn btn-primary" type="button" ng-disabled="isLoading || createModelForm.$invalid" ng-click="create()"><i class="fa fa-refresh fa-spin"></i>Create</button>
	    
	    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>