<h3 class="modelHeader ng-binding">Generator Plugins</h3>
<div class="col-sm-12 modelDetails">
	<div class="col-sm-9">
		<div ng-repeat="generator in generators">
			<div class="box">
			 	<div class="col-md-2"><img ng-src="data:image/png;base64,{{generator.image144x144}}" width="144" height="144"></div>
			    <div href="#" class="col-md-10">
			    	<h4><span>{{generator.name}}</span> <sup ng-show="generator.tags[0] == 'demo'"><span class="label label-success">Contributed</span></sup></h4>
			        <ul>
			        	<li><small>(Downloads: {{generator.amountOfDownloads}})</small></li>
			            <li>{{generator.description}}</li>
			            <li class="author"><i class="fa fa-fw fa-user"> </i>{{generator.creator}}</li>
			            <li class="doc"><a ng-href="{{generator.documentationUrl}}"> <i class="fa fa-fw fa-book"></i>Documentation</a></li>
			        </ul>
				</div>         
			</div>
			<hr class="separator">
		</div>
 	</div>
	<div class="col-sm-3 topUsed">
		<div class="row">
			<label>Most Frequently Used: </label>
		</div>
		<div class="row" ng-repeat="generator in mostUsedGenerators">
			<div class="col-xs-12">
		    	<div class="gen-box">
		           	<div class="gen-logo"><img ng-src="data:image/png;base64,{{generator.image32x32}}" width="32" height="32"></div>
		           	<div class="gen-name"><span>{{generator.name}}</span></div>
		           	<small>Downloads: {{generator.amountOfDownloads}}</small>
		        </div>
			</div>
		</div>
		<div class="row">
			<div class="adv2">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>Extend Vorto</h3>
						Build and plug-in your code generator
					</div>
					<a href="https://github.com/eclipse/vorto/blob/development/tutorials/tutorial_create_generator.md" class="small-box-footer">
						Tutorial <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
