<div class="row">
	<div class="center">
          <div class="row">
			<div ng-if="error" class="alert alert-danger">{{error}}</div>
		</div>
	    <div class="col-sm-12 main">
				<div class="panel panel-primary">
					<div class="panel-body">
						<form name="fileUploadForm" class="fileUploadForm form-inline">
							<p>
							<div class="form-group">
								<p>Choose model type for import: </p>
						        <div class="radio" ng-repeat="importer in importers">
						            <label>
						                <input type="radio" name="importer" value="{{importer.key}}" ng-model="selectedImporter.key">
						                {{importer.key}}
						            </label>
						            &nbsp;
						        </div>
						        <br><small>{{getSelectedImporterInfo(selectedImporter.key).shortDescription}}</small>
						    </div>
						    </p>	
						    </br>
							<div class="form-group">
								<div class="form-group">
									<label class="control-label input-label" >Upload:</label>
									<input type="file" ng-model="modelFile" name="file" id="file" accept="{{getSelectedImporterInfo(selectedImporter.key).extensionTypes.join(',')}}" class="form-control" style="width:500px;">
									<p class="upload-spacing"><small>Supported extensions: {{getSelectedImporterInfo(selectedImporter.key).extensionTypes.join(',')}}</small></p>
									<button ng-click="uploadModel()" class="btn btn-primary">Upload</button>
								</div>
						</form>
							

					</div>
				</div>
		</div>

	</div>
</div>

<div class="row">
  <div class="center-results">
	<h3 ng-show="isLoading">{{loadMessage}}</h3>
</div>
</div>

<div class="row">
 <div class="center-results">
	<button ng-show="showResultBox"  ng-click="checkin()" ng-disabled="!showCheckin" class="btn btn-primary pull-right">Import</button> 	
 </div>
</div>

<div class="row">
  <div class="center-results">
		<fieldset ng-show="showResultBox" class="results-border">
		    <legend class="results-border">Upload Results</legend>
		    	<div class="row">
					<div ng-show="showResultBox">
						  <div class="col-xs-3">Information models : {{modelStats.infocount}}</div>
						  <div class="col-xs-3">Functionblocks: {{modelStats.fbcount}}</div>
						  <div class="col-xs-3">Datatypes: {{modelStats.typecount}}</div>
							<div class="col-xs-3">Mapping:{{modelStats.mappingcount}} </div>
					</div>
				</div>
				<div class="row errorbox-spacing">
					<div ng-show="showResultBox" ng-class="uploadResult.result.valid? 'alert alert-success' : 'alert alert-danger'">
				  		<b>{{resultMessage}}</b></p>
				  		<small ng-show="showResultBox && uploadResult.result.valid">Note: Imported models will be in <i>Draft</i> state and can only be viewed and edited by you.</small>
				  	</p>	
					</div>
				</div>

				<div ng-repeat="report in uploadResult.result.reports">
					<div class="accordion-div">

			        <div ng-click="stateArr[$index].active = !stateArr[$index].active" ng-class="{'modelresult-heading-collapsed': stateArr[$index].active, 'modelresult-heading-expanded': !stateArr[$index].active}">
			          <div class="header">
			          	<i ng-class="stateArr[$index].active ? 'fa fa-plus-square' : 'fa fa-minus-square'" aria-hidden="true"></i>
			          	{{report.model.id.name}}
			          	<i ng-show="!importCompleted" ng-class="report.valid === true ? 'fa fa-check fa-lg valid' : 'fa fa-close fa-lg invalid'" aria-hidden="true"></i>
			          	<a class="pull-right btn btn-primary" ng-show="importCompleted" href="#/details/{{report.model.id.namespace}}/{{report.model.id.name}}/{{report.model.id.version}}">Open Model</a>
			          </div>
			        </div>

			        <div class="slideExpand" ng-hide="stateArr[$index].active">
			          <div class="modelresults-content">
		<div class="fileUploadDetails">
					<table id="uploadResults">
						<tr><td><label>Namespace:</label></td><td class="tdspacing">{{report.model.id.namespace}}</td></tr>
				        <tr><td><label>Name:</label></td><td class="tdspacing">  {{report.model.id.name}} </td></tr>
				        <tr><td><label>Version:</label></td><td class="tdspacing">   {{report.model.id.version}} </td></tr>
				        <tr><td><label>Model Type:</label> </td><td class="tdspacing"> {{report.model.type}}</td></tr>
				        <tr><td><label>Description:</label> </td><td class="tdspacing">  {{report.model.description}}</td></tr>
				        <tr><td><label>References: </label></td>
				        <td>
		<table>
								<tr ng-repeat="reference in report.model.references">
									<td><i ng-class="isMissing(reference,report.unresolvedReferences) === true ? 'fa fa-close fa-lg invalid' : 'fa fa-check fa-lg valid'" aria-hidden="true"></i></td>
									<td class="tdspacing-half">{{reference.namespace}}.{{reference.name}}.{{reference.version}}</td>
								</tr>
							</table>
						</td>
						</tr>
				        <tr ng-show="report.valid === false"><td colspan="2">
						<label class="error"><i class="fa fa-fw fa-close"></i> Error - {{report.errorMessage}}</label> </td></tr>
	</table>
</div>
	</div>
</div>
</div>
					</div>
		</div>
</fieldset>
</div>
