<div class="row">
	<div class="col-sm-12 main">
		<div class="row" id="searchResult">
			
			<div>
				<table st-persist st-table="displayedModels" st-safe-src="models" class="table table-striped">
					<thead>
						<tr>
							<th colspan="9">
								<div class="form-group search-box-spacing" >
									<input class="search-box-query-filter" type="search" placeholder="Filter Models" size="60"
										ng-model="queryFilter"
										st-search="" autofocus class="queryFilter input-sm" />
									<a ng-show="authenticated && userInfo.isRegistered === 'true'" class="btn btn-default btn-primary pull-right" ng-click="openCreateModelDialog()" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create Model</a>
									<select style="font-size:12px" st-search="type">
	                    				<option value="">All Types</option>
	                    				<option value="InformationModel">Information Model</option>
	                    				<option value="Functionblock">Functionblock</option>
	                    				<option value="Datatype">Datatype</option>
	                    				<option value="Mapping">Mapping</option>
                					</select>
									<select style="font-size:12px" st-search="state">
	                    				<option value="">All States</option>
	                    				<option value="Draft">Draft</option>
	                    				<option value="InReview">In Review</option>
	                    				<option value="Released">Released</option>
	                    				<option value="Deprecated">Deprecated</option>
                					</select>
								</div>
							</th>
						</tr>
						<tr>
							<th colspan="3">
								<total-summary st-items-by-page="{{itemsByPage}}" class="pull-left" class="pagination-info itemCountnumber"></total-summary>	
							</th>
						</tr>
						<tr>
							<th>Type</th>
							<th st-sort="creationDate" style="width:120px"><a href="">Created On <i class="fa fa-sort"></i></a></th>
							<th id="onName" st-sort="id.name"><a href="">Name <i class="fa fa-sort"></i></a></th>
							<th id="onNamespace" st-sort="id.namespace"><a href="">Namespace <i class="fa fa-sort"></i></a></th>
							<th id="onVersion"">Version</th>
							<th>Description</th>
							<th>State</th>
						</tr>
					</thead>
					<tbody ng-show="!isLoading">
						<tr ng-repeat="model in displayedModels track by $index" ng-click="go(model)">
							<td>
								<img ng-if="model.type === 'InformationModel'" src="images/im.png" />
								<img ng-if="model.type === 'Functionblock'" src="images/fb.png" />
								<img ng-if="model.type === 'Datatype'" src="images/dt.png" />
								<i ng-if="model.type === 'Mapping'" class="fa fa-exchange" aria-hidden="true"></i>
							</td>
							<td>{{ model.creationDate | date:"dd-MM-yyyy"}}</td>
							<td>{{ model.id.name }}</td>
							<td>{{ model.id.namespace }}</td>
							<td>{{ model.id.version }}</td>
							<td>{{ model.description }}</td>
							<td><span class="state state-{{model.state}}">{{ model.state }}</span></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="displayedModels.length"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron text-center" ng-show="isLoading">
	<h3><i class='fa fa-refresh fa-spin'></i>&nbsp; Loading models. Please wait...</h3>
</div>