<section class="content">

<div class="signup-box panel panel-default">
	<div class="page-header">
    	<h2>User Update</h2>
  	</div>
  	<div class="page-body">
		<div class="row">
			<h3>We need to update your user account.</h3>
		</div>	
  	</div>
  	<div class="panel-footer">
  		<br>
  		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary btn-block" type="submit" ng-click="doUpdate()">
					<i ng-show="isUpdating" class="fa fa-spinner" aria-hidden="true"></i>
					Agree and Proceed
				</button>
			</div>
		</div>
  	</div>
</div>

</section>