<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
     <extension point="org.eclipse.ui.perspectives">
        <perspective
              class="org.eclipse.vorto.perspective.VortoPerspective"
              id="org.eclipse.vorto.ui.perspective.VortoPerspective"
              name="Vorto">
        </perspective>
     </extension>
     
       <extension
           point="org.eclipse.ui.views">
        <view
              class="org.eclipse.vorto.perspective.FBTreeViewPart"
              id="org.eclipse.vorto.ui.perspective.fbtreeview"
              name="Function Block Models"
              icon="platform:/plugin/org.eclipse.vorto.core/icons/fb_large.png"
              restorable="true">
        </view> 
   </extension> 
     
   <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.vorto.ui.perspective.VortoPerspective">
  	         <view
	               id="org.eclipse.ui.console.ConsoleView"
	               relationship="bottom"
	               ratio="0.8"
	               relative="org.eclipse.ui.editorss"/>  
        </perspectiveExtension>      
   </extension>
          
     <!-- datatype wizard and perspective -->
   <extension
           point="org.eclipse.ui.views">
        <view
              class="org.eclipse.vorto.perspective.DTTreeViewPart"
              id="org.eclipse.vorto.ui.perspective.dttreeview"
              name="Datatype Models"
              icon="platform:/plugin/org.eclipse.vorto.core/icons/dt.png"
              restorable="true">
        </view> 
     </extension>          
     
   
   <extension
	       point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.vorto.ui.perspective.dttreeview">
        <command
              commandId="org.eclipse.vorto.datatypeeditor.ui.command1.newdatatypeproject"
              icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/dlcl16/add_exc.gif"
              id="id.package.menu.newentity"
              label="Create new Entity">
           <parameter
                 name="org.eclipse.vorto.editor.datatype.newdatatype.project"
                 value="entity">
           </parameter>
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.vorto.ui.perspective.dttreeview">
        <command
              commandId="org.eclipse.vorto.datatypeeditor.ui.command1.newdatatypeproject"
              icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/dlcl16/add_exc.gif"
              id="id.package.menu.newenum"
              label="Create new Enum">
           <parameter
                 name="org.eclipse.vorto.editor.datatype.newdatatype.project"
                 value="enum">
           </parameter>
        </command>
        <separator
              name="additions1"
              visible="true">
        </separator>
     </menuContribution>
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.dttreeview">
				<command
			  		commandId="org.eclipse.vorto.datatypeeditor.ui.command1.deletedatatypeproject"
			  		id="id.package.menu.deletedatatype"
			  		icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete.gif"
			        label="Delete Data Type">   
			      	<visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.IModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>			                	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>
	 </extension>
	 
	 <!-- Functionblock wizard and menu contribution -->
	 
	 <extension
	       point="org.eclipse.ui.menus">
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.fbtreeview">
				<command
			  		commandId="org.eclipse.vorto.editor.functionblock.ui.command1.newfbproject"
			  		id="id.package.menu.newfb"
			  		icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/dlcl16/add_exc.gif"
			        label="Create new Function Block">           	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.fbtreeview">
				<command
			  		commandId="org.eclipse.vorto.editor.functionblock.ui.command.deletefbproject"
			  		id="id.package.menu.deletefb"
			  		icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete.gif"
			        label="Delete Function Block">   
			      	<visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.FunctionblockModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>					                	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>	   	     
	 </extension>
	 
	 <!-- Infomodel -->
	 
	 <extension
           point="org.eclipse.ui.views">
        <view
              class="org.eclipse.vorto.perspective.InfoModelTreeViewPart"
              id="org.eclipse.vorto.ui.perspective.imtreeview"
              name="Information Models"
              icon="platform:/plugin/org.eclipse.vorto.core/icons/im.png"
              restorable="true">
        </view> 
     </extension>   
     
     	<extension
	       point="org.eclipse.ui.menus">
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.imtreeview">
				<command
			  		commandId="org.eclipse.vorto.infomodeleditor.ui.command1.newimproject"
			  		id="id.package.menu.newim"
			  		icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/dlcl16/add_exc.gif"
			        label="Create new Information Model">           	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>
	     <menuContribution
	           allPopups="false"
	           locationURI="popup:org.eclipse.vorto.ui.perspective.imtreeview">
	        <menu
	              icon="platform:/plugin/org.eclipse.ui.browser/icons/elcl16/nav_go.gif"
	              id="generate.code.submenu"
	              label="Generate Code">
	              <visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.InformationModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>
	        </menu>
	     </menuContribution>
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.imtreeview">
				<command
			  		commandId="org.eclipse.vorto.infomodeleditor.ui.command1.deleteinfomodelproject"
			  		id="id.package.menu.deleteinfomodel"
			  		icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete.gif"
			        label="Delete Information Model">   
			      	<visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.InformationModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>				                	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>		 	     	     
	 </extension>  
     
</plugin>
