<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2015, 2016 Bosch Software Innovations GmbH and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    and Eclipse Distribution License v1.0 which accompany this distribution.
      
    The Eclipse Public License is available at
    http://www.eclipse.org/legal/epl-v10.html
    The Eclipse Distribution License is available at
    http://www.eclipse.org/org/documents/edl-v10.php.
      
    Contributors:
    Bosch Software Innovations GmbH - Please refer to git log
 -->

<plugin>
     <extension point="org.eclipse.ui.perspectives">
        <perspective
              class="org.eclipse.vorto.perspective.VortoPerspective"
              icon="icons/vorto-icon.png"
              id="org.eclipse.vorto.ui.perspective.VortoPerspective"
              name="Vorto">
        </perspective>
     </extension>
     
     <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.vorto.ui.perspective.VortoPerspective">
  	         <view
	               id="org.eclipse.ui.console.ConsoleView"
	               relationship="bottom"
	               ratio="0.75"
	               relative="org.eclipse.ui.editorss"/>
	         <view
	               id="org.eclipse.vorto.perspective.views.ModelRepositoryViewPart"
	               relationship="stack"
	               relative="org.eclipse.ui.console.ConsoleView"/>  
        </perspectiveExtension>      
   </extension>
     
       <extension
           point="org.eclipse.ui.views">
          <category
                id="org.eclipse.vorto.perspective"
                name="Vorto">
          </category>
        <view
              category="org.eclipse.vorto.perspective"
              class="org.eclipse.vorto.perspective.view.ProjectSelectionViewPart"
              icon="icons/vorto-icon.png"
              id="org.eclipse.vorto.perspective.view.ProjectSelectionViewPart"
              name="Vorto Model Project Browser">
        </view>
        <view
              category="org.eclipse.vorto.perspective"
              class="org.eclipse.vorto.perspective.view.ModelRepositoryViewPart"
              icon="icons/share.gif"
              id="org.eclipse.vorto.perspective.views.ModelRepositoryViewPart"
              name="Model Repository">
        </view>
   </extension> 
     
   <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.vorto.ui.perspective.VortoPerspective">
	         <view
	               id="org.eclipse.vorto.perspective.views.ModelRepositoryViewPart"
	               relationship="bottom" />  
        </perspectiveExtension>      
   </extension>
          	 
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="org.eclipse.vorto.perspective.preferences.VortoPreferencePage"
               id="org.eclipse.vorto.perspective.preferences.VortoPreferencePage"
               name="Vorto">
         </page>
      </extension>
      <extension
            id="id2"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="org.eclipse.vorto.core.model.nature.VortoProjectNature">
            </run>
         </runtime>
      </extension>  
     
</plugin>
