<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
     <extension point="org.eclipse.ui.perspectives">
        <perspective
              class="org.eclipse.vorto.perspective.VortoPerspective"
              id="org.eclipse.vorto.ui.perspective.VortoPerspective"
              name="Vorto">
        </perspective>
     </extension>
     
       <extension
           point="org.eclipse.ui.views">
          <category
                id="org.eclipse.vorto.perspective"
                name="Vorto">
          </category>
          <view
                category="org.eclipse.vorto.perspective"
                class="org.eclipse.vorto.perspective.view.DTTreeViewPart"
                icon="platform:/plugin/org.eclipse.vorto.core/icons/dt.png"
                id="org.eclipse.vorto.ui.perspective.dttreeview"
                name="Datatype Models"
                restorable="true">
          </view>
        <view
              category="org.eclipse.vorto.perspective"
              class="org.eclipse.vorto.perspective.view.FBTreeViewPart"
              icon="platform:/plugin/org.eclipse.vorto.core/icons/fb_large.png"
              id="org.eclipse.vorto.ui.perspective.fbtreeview"
              name="Function Block Models"
              restorable="true">
        </view>
        <view
              category="org.eclipse.vorto.perspective"
              class="org.eclipse.vorto.perspective.view.InfoModelTreeViewPart"
              icon="platform:/plugin/org.eclipse.vorto.core/icons/im.png"
              id="org.eclipse.vorto.ui.perspective.imtreeview"
              name="Information Models"
              restorable="true">
        </view>
        <view
              category="org.eclipse.vorto.perspective"
              class="org.eclipse.vorto.perspective.view.ModelRepositoryViewPart"
              icon="icons/sample.gif"
              id="org.eclipse.vorto.perspective.views.ModelRepositoryViewPart"
              name="Model Repository">
        </view>
   </extension> 
     
   <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.vorto.ui.perspective.VortoPerspective">
  	         <view
	               id="org.eclipse.ui.console.ConsoleView"
	               relationship="bottom"
	               ratio="0.75"
	               relative="org.eclipse.ui.editorss"/>
	         <view
	               id="org.eclipse.vorto.perspective.views.ModelRepositoryViewPart"
	               relationship="stack"
	               relative="org.eclipse.ui.console.ConsoleView"/>  
        </perspectiveExtension>      
   </extension>
          
     <!-- datatype wizard and perspective -->
     
   
   <extension
	       point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.vorto.ui.perspective.dttreeview">
        <command
              commandId="org.eclipse.vorto.datatypeeditor.ui.command1.newdatatypeproject"
              icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
              id="id.package.menu.newentity"
              label="Create new Entity">
           <parameter
                 name="org.eclipse.vorto.editor.datatype.newdatatype.project"
                 value="entity">
           </parameter>
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.vorto.ui.perspective.dttreeview">
        <command
              commandId="org.eclipse.vorto.datatypeeditor.ui.command1.newdatatypeproject"
              icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
              id="id.package.menu.newenum"
              label="Create new Enum">
           <parameter
                 name="org.eclipse.vorto.editor.datatype.newdatatype.project"
                 value="enum">
           </parameter>
        </command>
        <separator
              name="additions1"
              visible="true">
        </separator>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.vorto.ui.perspective.dttreeview">
        <command
              commandId="org.eclipse.vorto.perspective.checkin"
              icon="icons/sample.gif"
              label="Check-in to repository">
           <visibleWhen
                 checkEnabled="true">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.eclipse.vorto.core.model.IModelProject">
                    </instanceof>
                 </iterate>
              </with>
           </visibleWhen>
        </command>
        <separator
              name="additions1"
              visible="true">
        </separator>
     </menuContribution>
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.dttreeview">
				<command
			  		commandId="org.eclipse.vorto.datatypeeditor.ui.command1.deletedatatypeproject"
			  		id="id.package.menu.deletedatatype"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/delete.gif"
			        label="Delete Data Type">   
			      	<visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.IModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>			                	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>
	 </extension>
	 
	 <!-- Functionblock wizard and menu contribution -->
	 
	 <extension
	       point="org.eclipse.ui.menus">
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.fbtreeview">
				<command
			  		commandId="org.eclipse.vorto.editor.functionblock.ui.command1.newfbproject"
			  		id="id.package.menu.newfb"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
			        label="Create new Function Block">           	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.vorto.ui.perspective.fbtreeview">
        <command
              commandId="org.eclipse.vorto.perspective.checkin"
              icon="icons/sample.gif"
              label="Check-in to repository">
           <visibleWhen
                 checkEnabled="true">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.eclipse.vorto.core.model.IModelProject">
                    </instanceof>
                 </iterate>
              </with>
           </visibleWhen>
        </command>
        <separator
              name="additions1"
              visible="true">
        </separator>
     </menuContribution>
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.fbtreeview">
				<command
			  		commandId="org.eclipse.vorto.editor.functionblock.ui.command.deletefbproject"
			  		id="id.package.menu.deletefb"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/delete.gif"
			        label="Delete Function Block">   
			      	<visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.FunctionblockModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>					                	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>	   	     
	 </extension>
	 
	 <!-- Infomodel -->
	 
     
     	<extension
	       point="org.eclipse.ui.menus">
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.imtreeview">
				<command
			  		commandId="org.eclipse.vorto.infomodeleditor.ui.command1.newimproject"
			  		id="id.package.menu.newim"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/add_exc.gif"
			        label="Create new Information Model">           	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>
	     <menuContribution
	           allPopups="false"
	           locationURI="popup:org.eclipse.vorto.ui.perspective.imtreeview">
	        <menu
	              icon="platform:/plugin/org.eclipse.ui.browser/icons/elcl16/nav_go.gif"
	              id="generate.code.submenu"
	              label="Generate Code">
	              <visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.InformationModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>
	        </menu>
	     </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.vorto.ui.perspective.imtreeview">
            <command
                  commandId="org.eclipse.vorto.perspective.checkin"
                  icon="icons/sample.gif"
                  label="Check-in to repository">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.vorto.core.model.IModelProject">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="additions1"
                  visible="true">
            </separator>
         </menuContribution>
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.vorto.ui.perspective.imtreeview">
				<command
			  		commandId="org.eclipse.vorto.infomodeleditor.ui.command1.deleteinfomodelproject"
			  		id="id.package.menu.deleteinfomodel"
			  		icon="platform:/plugin/org.eclipse.vorto.core/icons/delete.gif"
			        label="Delete Information Model">   
			      	<visibleWhen>
		                  <with  variable="selection">
		                   <iterate ifEmpty="false"
		                        operator="or">
		                         <instanceof value="org.eclipse.vorto.core.model.InformationModelProject"/>
		                  </iterate>
		                  </with>
		             </visibleWhen>				                	            
			  	</command>
				<separator name="additions1" visible="true"/>
	    </menuContribution>		 	     	     
	 </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.eclipse.vorto.perspective.command.CheckinModelHandler"
               id="org.eclipse.vorto.perspective.checkin"
               name="CheckIn">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="org.eclipse.vorto.perspective.preferences.VortoPreferencePage"
               id="org.eclipse.vorto.perspective.preferences.VortoPreferencePage"
               name="Vorto">
         </page>
      </extension>  
     
</plugin>
