<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- Wizards -->
  
     <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.vorto.model.ui.wizards"
            class="org.eclipse.vorto.codegen.ui.wizard.GeneratorWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/generator.gif"
            id="org.eclipse.vorto.codegen.wizard.GeneratorWizard"
            name="Code Generator Project"
            project="true">
      </wizard>
   </extension>	   
 
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.vorto.codegen.ui.handler.CodeGeneratorInvocationHandler"
            commandId="org.eclipse.vorto.codegen.generator.command.id">
      </handler>
   </extension>
</plugin>
