{{ $currentNode := . }}

{{ range .Site.Menus.main.ByWeight }}

{{ $.Scratch.Set "currentMenuEntry" . }}
{{ $isCurrent := in $currentNode.Permalink (.URL | absURL | printf "%s") }}
<li>
  {{ if .HasChildren }}
    {{ partial "nav_link_children" $currentNode }}
    {{ if $isCurrent }}
    <ul>
      {{ range .Children }}
        <li class="anchor">
        {{ $.Scratch.Set "currentMenuEntry" . }}
        {{ partial "nav_link_children" $currentNode }}
        </li>
      {{ end }}
    </ul>
    {{ end }}
  {{ else }}
    {{ partial "nav_link" $currentNode }}
  {{ end }}
</li>
{{ end }}
